<div class="content content--medium">
  <h1>Chat Users</h1>

  <div class="u-margin-bottom-large">
    <span><%= @chat_users.count %> chat users</span>
  </div>

  <% @chat_users.each do |user| %>
    <div class="admin-post-item">
      <div class="admin-post-item__title">
        <%= link_to edit_admins_chat_user_path(user) do %>
          <%= user.email %>
        <% end %>
        <span class="badge badge--small">
          <%= user.access_status %>
          <% if user.access_status_time_left.present? %>
            &mdash; <%= user.access_status_time_left %>
          <% end %>
        </span>
      </div>

      <div class="admin-post-item__actions">
        <% unless user.approved? %>
          <%= button_to approve_admins_chat_user_path(user),
          method: :patch, 
          class: "button button--secondary button--small button--square", 
          data: { 
            turbo_confirm: "Approve this account? They will get 48 hours of access from their first login."
          } do %>
            <%= inline_svg "icon-checkmark.svg", height: "16", width: "16" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
