  <button class="navigation-drawer__trigger-button" 
    data-action="click->navigation-drawer#toggle">
    <%= inline_svg "icon-menu.svg", height: "20px", width: "20px" %>
  </button>

<header class="navigation-primary navigation-primary--side" 
        data-controller="navigation"
        data-navigation-target="header">
  <!-- Mobile trigger button -->

  <nav class="navigation-primary__left">
  </nav>

  <nav class="navigation-primary__right">
    <ul class="navigation-primary__links">
      <li class="navigation-primary__link navigation-primary__link--logo">
        <%= link_to admins_posts_path do %>
          <%= inline_svg "jason-ramirez-logo-blue.svg" %>
        <% end %>
      </li>

      <li class="navigation-primary__link">
        <%= link_to t(".posts"), admins_posts_path %>
      </li>

      <li class="navigation-primary__link">
        <%= link_to t(".hashtags"), admins_hashtags_path %>
      </li>
      
      <li class="navigation-primary__link">
        <%= link_to "Knowledge", admins_additional_knowledges_path %>
      </li>
      
      <li class="navigation-primary__link">
        <%= link_to "Chat Users", admins_chat_users_path %>
      </li>
      
      <li class="navigation-primary__link">
        <%= link_to "Docs", admins_documents_path %>
      </li>

      <li class="navigation-primary__link">
        <%= link_to "site", root_path %>
      </li>
    </ul>

    <ul class="navigation-primary__links">
      <li class="navigation-primary__link">
        <%= link_to destroy_admin_session_path,
          class: "button button--secondary",
          data: { turbo_method: :delete } do %>
         <%= inline_svg "icon-log-out.svg", width: "16px", height: "16px" %>
        <% end %>
      </li>

      <li class="navigation-primary__link"
          data-navigation-target="themeSwitcher">
        <button type="button"
            data-action="click->theme#toggle"
            class="theme-toggle-button button button--secondary">
          <%= inline_svg "icon-theme-change.svg", width: "16px", height: "16px" %>
        </button>
      </li>
    </ul>
  </nav>
</header>
