<header class="site-header" 
        data-controller="navigation"
        data-navigation-target="header">
  <nav class="navigation--left">
    <ul class="navigation__links">
      <li class="navigation__link">
        <%= link_to t(".posts"), admins_posts_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t(".hashtags"), admins_hashtags_path %>
      </li>
      
      <li class="navigation__link">
        <%= link_to "Chat Users", admins_chat_users_path %>
      </li>
    </ul>
  </nav>

  <nav class="navigation--right navigation--mobile-trigger-icon">
    <input class="navigation__mobile-trigger" type="checkbox">
    <ul class="navigation__links">
      <li class="navigation__link">
        <%= link_to "site", root_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t(".sign_out"), destroy_admin_session_path, data: { turbo_method: :delete } %>
      </li>

      <li class="navigation__link"
          data-navigation-target="themeSwitcher">
        <button type="button"
            data-controller="theme"
            data-action="click->theme#toggle"
            data-theme-light-stylesheet-value="<%= asset_path('application_light.css') %>"
            data-theme-dark-stylesheet-value="<%= asset_path('application_dark.css') %>"
            class="navigation__link theme-toggle-button">
          <%= inline_svg "icon-theme-change.svg" %>
        </button>
      </li>
    </ul>
  </nav>
</header>
