<header class="site-header">
  <nav class="navigation--left">
    <ul class="navigation__links">
      <li class="navigation__link">
        <%= link_to t(".posts"), admins_posts_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t(".hashtags"), admins_hashtags_path %>
      </li>
    </ul>
  </nav>

  <nav class="navigation--right navigation--mobile-trigger-icon">
    <input class="navigation__mobile-trigger" type="checkbox">
    <ul class="navigation__links">
      <li class="navigation__link">
        <%= link_to "site", root_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t(".sign_out"), destroy_admin_session_path, method: :delete %>
      </li>

      <li class="navigation__link">
        <% if cookies[:theme] == "dark" %>
          <%= link_to set_theme_path(theme: "light") do %>
            <%= inline_svg "icon-theme-change.svg" %>
          <% end %>
        <% else %>
          <%= link_to set_theme_path(theme: "dark") do %>
            <%= inline_svg "icon-theme-change.svg" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
