<section class="content content--slim">
  <h1>Philosophy</h1>
  
  <h2>Principles</h2>

  <h3 class="u-margin-bottom-large">
    My principles
    influence
    how I lead design teams
    to create impactful solutions.
  </h3>

  <ul class="minimal-unordered-list collapseable-list">
    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="principle_1">
        <input type="checkbox" class="collapseable__input" id="principle_1">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Useful
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            Usefulness is be the highest priority. 
            The number one reason a product 
            (or business for that matter) fails &mdash; nobody wants it.
          </p>
          <p>
            Making useful products 
            increases customer satisfaction,
            addresses market
            competitiveness,
            increases user adoption and retention, 
            and perhaps most importantly
            lays the foundation
            to scale your audience.
          </p>
            By understanding your
            target audience's needs and designing with purpose, you create
            products that provide real value and make a meaningful impact in the
            lives of your users.
          <p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="principle_2">
        <input type="checkbox" class="collapseable__input" id="principle_2">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Obvious
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          </p>
            Your designs should feel be obvious.
            Focus on creating intuitive
            and easily understandable
            interfaces, or experiences
            that meet your customer expectations.
          </p>
          <p>
            Doing so will
            minimize the learning curve,
            and enhance usability and
            satisfaction.
            Obvious designs improve efficiency and productivity, support
            accessibility and inclusivity,
            build trust, and empower users to make
            informed decisions.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="principle_3">
        <input type="checkbox" class="collapseable__input" id="principle_3">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Simple
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            "Simple" is all about keeping things straightforward and
            user-friendly. It's not just about making the first action crystal
            clear; it's about stripping away unnecessary complexity that hinders
            customers from seeing the bigger picture and understanding the full
            value of a product. When things get overly complicated, it kills the
            spirit of exploration and prevents users from finding those hidden
            gems of extra value.
          </p>
          <p>
            By embracing "simple", you make it easier for users to navigate,
            understand, and engage with a product. It reduces the mental burden,
            encourages exploration, and lets users dig deeper to uncover more
            awesomeness. Plus, a simple design is scalable and adaptable, ready
            to grow alongside the evolving needs of your users.
          <p>
          </p>
            So, keep it
            simple, my friend, and watch as users embrace your product with open
            arms, delighted by its ease and impressed by the value they discover
            along the way.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="principle_4">
        <input type="checkbox" class="collapseable__input" id="principle_4">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
              Unified
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            When your visual artifacts, language, tone, colors, and even those
            tiny interactions all work together seamlessly, magic happens. It
            builds trust and familiarity.
          </p>
          <p>
            See, when your design stays unified, it creates a strong brand
            identity that people can recognize from a mile away. It's not just
            about the product itself; it extends to social media, ads, and all
            those other places where your brand shows up. It's like having your
            own VIP queue, where people know exactly what to expect and feel
            connected to your awesomeness.
          </p>
          <p>
            And here's the icing on the cake: that unified experience
            builds an emotional connection, making users
            feel a sense of familiarity
            with how your product makes them feel.
            So keep it unified, my friend, and watch as people line up to
            be a part of your unforgettable design journey.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="principle_5">
        <input type="checkbox" class="collapseable__input" id="principle_5">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Pretty
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            Pretty designs bring joy and make user experiences more enjoyable.
            They capture attention, spark interest, and create positive emotions
            that keep users engaged. Aesthetically pleasing designs also convey
            a sense of professionalism and quality, building trust with users
            and enhancing brand reputation. They help your brand stand out and
            be memorable, creating a distinctive visual identity that users can
            recognize and recall.
          </p>
          <p>
            Furthermore, pretty designs encourage users to
            explore and discover more, providing an intuitive and visually
            appealing experience that increases user confidence and willingness
            to interact with the product.
            By
            prioritizing aesthetics, you can create engaging and memorable
            experiences that resonate with users.
          </p>
        </div>
      </label>
    </li>
  </ul>

  <h2 class="u-margin-top-x-large">Leadership Values</h2>

  <h3 class="u-margin-bottom-large">
    I establish values
    to influence behaviors and
    guide decision-making
    for myself and the teams I'm on.
  </h3>

  <ul class="minimal-unordered-list collapseable-list">
    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="value_1">
        <input type="checkbox" class="collapseable__input" id="value_1">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Outcomes Over Output
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            Forget about mindlessly grinding and obsessing over your workload.
            Shift your focus to the end result. It's all about caring
            more about the final outcome.
          <p>
          </p>
            With this mindset you can unlock the creative genius inside you.
            You will set clear goals and know what you want to achieve.
            You can prioritize and make the most of your time.
            You'll bring your A-game and deliver quality. Be a creative genius,
            not settling for average.
            You'll emmbrace change, try new approaches, and handle anything that
            comes your way.
          <p>
          </p>
            Last but not least, it puts to task you and
            your teams ability to measure success.
            Outcomes are what really
            matter. They show you what's working and what's not.
            Use that knowledge to make
            smart decisions!
          <p>
        </div>
      </label>
    </li>

    <a name="encourage-deadlines"></a>
    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="value_2">
        <input type="checkbox" class="collapseable__input" id="value_2">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Encourage Deadlines
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          </p>
            Its always important to weed out weak concepts early on and focus on
            the winners.
            Limited time forces you to evaluate ideas quickly &mdash; And quick
            evaluation is done best by scoping down.
            Time constraints lead to
            more concise problems, solutions and process.
          <p>
          </p>
            Time constraints
            help you manage the risk of over-investing in bad ideas.
            Without time constraints, your milestones can balloon in scope,
            and time to launch can continue to get pushed out.
            By setting milestones connected to deeadlines,
            you're forced to
            evaluate progress frequently.
            The best part &mdash; this
            opens the door to more difficult decisions
            and allow you to pivot when necessary — don't let time suck you
            into a design black hole.
          <p>
          </p>
            Embrace the challenge and surprise yourself.
            Time constraints force you to evaluate quickly,
            adapt as you go, and manage risk.
            So, embrace those constraints, and
            design like a boss!
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="value_3">
        <input type="checkbox" class="collapseable__input" id="value_3">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Assume Best Intentions.
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            Assuming best intentions within a team creates a positive and
            trusting environment that fosters open communication, collaboration,
            and strengthens relationships. It encourages empathy during
            conflicts, minimizing negativity and defensiveness, while promoting
            constructive discussions and finding common ground.
          <p>
          </p>
            This approach
            cultivates a growth mindset, allowing team members to take risks,
            share ideas, and innovate without fear of judgment. It increases
            productivity, morale, and attracts top talent, as individuals feel
            motivated and valued, leading to a high-performing and engaged team.
            Additionally, conflicts are resolved effectively through
            problem-solving and open communication, preserving relationships and
            team dynamics.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="value_4">
        <input type="checkbox" class="collapseable__input" id="value_4">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Seek Divergent Ideas
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            Seeking divergent ideas as part of a product team brings valuable
            benefits. It stimulates creativity and innovation by introducing
            fresh perspectives and unconventional approaches. Diverse viewpoints
            tap into collective intelligence, enhancing problem-solving
            capabilities and leading to better decisions.
            Embracing divergent ideas creates a dynamic and innovative team
            environment.
          <p>
          </p>
            It also fosters
            inclusivity, as team members feel valued and engaged when encouraged
            to contribute their unique thoughts and opinions. By seeking 
            diverse ideas, you can anticipate user needs and preferences more
            effectively, resulting in improved products and user satisfaction.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="value_5">
        <input type="checkbox" class="collapseable__input" id="value_5">

        <span class="collapseable__trigger">
          <h3 class="collapseable__trigger-text">
            Be Sustainable
            <%= inline_svg "icon-chevron-down.svg" %>
          </h3>
        </span>

        <div class="collapseable__content content--reading">
          <p>
            Taking care of yourself keeps your well-being in check and your
            productivity on point.
            When you prioritize your physical and mental
            health, you can handle the demands of your role without burning out
            or stressing yourself too much.
            Plus, it sets the stage for
            teamwork and collaboration. By finding that work-life balance and
            practicing self-care, you become a reliable and supportive team
            member, creating a positive environment where everyone can thrive.
          <p>
          </p>
            But it doesn't stop there. Personal sustainability boosts your
            creativity and problem-solving mojo. When you give yourself the
            space and time to recharge, you open up your mind to fresh ideas and
            new perspectives.
            It's like hitting the refresh button for your
            brain. And guess what? Taking care of yourself also ensures
            long-term career sustainability.
            By avoiding burnout and staying
            motivated, you can keep growing professionally and contributing to
            your team's success in the long run.
          <p>
          </p>
            Make personal
            sustainability a priority and show others the way. It's all about
            setting a positive example and building a team that values
            well-being and supports each other.
          </p>
        </div>
      </label>
    </li>
  </ul>
</section>
