<section class="content content--reading">
  <h1 class="u-margin-bottom">
    I establish values
    to influence behaviors and
    guide decision-making
    of myself and the teams I'm on.
  </h1>

  <ul class="minimal-unordered-list">
    <li>
      <label class="collapseable" for="more_1">
        <input type="checkbox" class="collapseable__input" id="more_1">

        <span class="collapseable__trigger">
          <h2>
            Outcomes Over Output
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            Forget about mindlessly grinding and obsessing over your workload.
            Shift your focus to the end result. It's all about caring
            more about the final outcome.
          <p>
          </p>
            With this mindset you can unlock the creative genius inside you.
            You will set clear goals and know what you want to achieve.
            You can prioritize and make the most of your time.
            You'll bring your A-game and deliver quality. Be a creative genius,
            not settling for average.
            You'll emmbrace change, try new approaches, and handle anything that
            comes your way.
          <p>
          </p>
            Last but not least, it puts to task you and
            your teams ability to measure success.
            Outcomes are what really
            matter. They show you what's working and what's not.
            Use that knowledge to make
            smart decisions!
          <p>
        </div>
      </label>
    </li>

    <li>
      <label class="collapseable" for="more_2">
        <input type="checkbox" class="collapseable__input" id="more_2">

        <span class="collapseable__trigger">
          <h2>
            Encourage Deadlines
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          </p>
            Its always important to weed out weak concepts early on and focus on
            the winners.
            Limited time forces you to evaluate ideas quickly &mdash; And quick
            evaluation is done best by scoping down.
            Time constraints lead to
            more concise problems, solutions and process.
          <p>
          </p>
            Time constraints
            help you manage the risk of over-investing in bad ideas.
            Without time constraints, your milestones can balloon in scope,
            and time to launch can continue to get pushed out.
            By setting milestones connected to deeadlines,
            you're forced to
            evaluate progress frequently.
            The best part &mdash; this
            opens the door to more difficult decisions
            and allow you to pivot when necessary — don't let time suck you
            into a design black hole.
          <p>
          </p>
            Embrace the challenge and surprise yourself.
            Time constraints force you to evaluate quickly,
            adapt as you go, and manage risk.
            So, embrace those constraints, and
            design like a boss!
          </p>
        </div>
      </label>
    </li>

    <li>
      <label class="collapseable" for="more_3">
        <input type="checkbox" class="collapseable__input" id="more_3">

        <span class="collapseable__trigger">
          <h2>
            Assume Best Intentions.
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            Assuming best intentions within a team creates a positive and
            trusting environment that fosters open communication, collaboration,
            and strengthens relationships. It encourages empathy during
            conflicts, minimizing negativity and defensiveness, while promoting
            constructive discussions and finding common ground.
          <p>
          </p>
            This approach
            cultivates a growth mindset, allowing team members to take risks,
            share ideas, and innovate without fear of judgment. It increases
            productivity, morale, and attracts top talent, as individuals feel
            motivated and valued, leading to a high-performing and engaged team.
            Additionally, conflicts are resolved effectively through
            problem-solving and open communication, preserving relationships and
            team dynamics.
          </p>
        </div>
      </label>
    </li>

    <li>
      <label class="collapseable" for="more_4">
        <input type="checkbox" class="collapseable__input" id="more_4">

        <span class="collapseable__trigger">
          <h2>
            Seek Divergent Ideas
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            Seeking divergent ideas as part of a product team brings valuable
            benefits. It stimulates creativity and innovation by introducing
            fresh perspectives and unconventional approaches. Diverse viewpoints
            tap into collective intelligence, enhancing problem-solving
            capabilities and leading to better decisions.
            Embracing divergent ideas creates a dynamic and innovative team
            environment.
          <p>
          </p>
            It also fosters
            inclusivity, as team members feel valued and engaged when encouraged
            to contribute their unique thoughts and opinions. By seeking 
            diverse ideas, you can anticipate user needs and preferences more
            effectively, resulting in improved products and user satisfaction.
          </p>
        </div>
      </label>
    </li>

    <li>
      <label class="collapseable" for="more_5">
        <input type="checkbox" class="collapseable__input" id="more_5">

        <span class="collapseable__trigger">
          <h2>
            Be Sustainable
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            Taking care of yourself keeps your well-being in check and your
            productivity on point.
            When you prioritize your physical and mental
            health, you can handle the demands of your role without burning out
            or stressing yourself too much.
            Plus, it sets the stage for
            teamwork and collaboration. By finding that work-life balance and
            practicing self-care, you become a reliable and supportive team
            member, creating a positive environment where everyone can thrive.
          <p>
          </p>
            But it doesn't stop there. Personal sustainability boosts your
            creativity and problem-solving mojo. When you give yourself the
            space and time to recharge, you open up your mind to fresh ideas and
            new perspectives.
            It's like hitting the refresh button for your
            brain. And guess what? Taking care of yourself also ensures
            long-term career sustainability.
            By avoiding burnout and staying
            motivated, you can keep growing professionally and contributing to
            your team's success in the long run.
          <p>
          </p>
            Make personal
            sustainability a priority and show others the way. It's all about
            setting a positive example and building a team that values
            well-being and supports each other.
          </p>
        </div>
      </label>
    </li>
  </ul>
</section>
