 <div>
    <%= link_to "#{link_path}",
      class: "work-link" do %>
      <%= image_tag "#{image_path}" %>
      <h1 class="work-link__title">
        <%= title %>
      </h1>
      <h3 class="work-link__subtitle">
        <%= subtitle %>
      </h3>
      <h3 class="work-link__description">
        <%= description %>
      </h3>
    <% end %>
  </div>