<section class="content content--slim">
  <div>
    <%= link_to "protected_works/grow_marketplace_excellence",
      class: "work-link" do %>
      <%= image_tag "works/grow-marketplace-excellence-title-card.png" %>
      <h2 class="work-link__title">
        Marketplace Excellence, 2025
      </h2>
      <h3 class="work-link__description">
        How we grew the Marketplace to $100M+ in annual recurring revenue.
      </h3>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_works/dropbox_smartifying_activation",
      class: "work-link" do %>
      <%= image_tag "works/dropbox-activation-title-card.png" %>
      <h2 class="work-link__title">
        Smartifying Activation, 2023
      </h2>
      <h3 class="work-link__description">
        How we used relevancy to connect customers to the full value of Dropbox
        resulting in $50M+ of annual recurring revenue.
      </h3>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_works/dropbox_enhancing_collaboration",
      class: "work-link" do %>
      <%= image_tag "works/dropbox-collaboration-title-card.png" %>
      <h2 class="work-link__title">
        Enhancing Collaboration, 2022
      </h2>
      <h3 class="work-link__description">
        How we opened up new revenue streams and improved retention by bringing
        new value to freelancers and Teams by focusing on collaboration and
        relationships.
      </h3>
    <% end %>
  </div>

  <div>
    <%= link_to "works/dropbox_keeping_flow", class: "work-link" do %>
      <%= image_tag "works/dropbox-flow-title-card.png" %>
      <h2 class="work-link__title">
        Keeping Flow, 2019
      </h2>
      <h3 class="work-link__description">
        How in one week we validated an idea, got funding to go after an
        international market, and received a patent.
      </h3>
    <% end %>
  </div>

  <div>
    <%= link_to "works/mayo_gamifying_medical_education",
      class: "work-link" do %>
      <%= image_tag "works/mayo-clinic-educational-game-title-card.png" %>
      <h2 class="work-link__title">
        Gamifying Medical Education, 2017
      </h2>
      <h3 class="work-link__description">
        How we opened up new revenue streams and improved retention by bringing
        new value to freelancers and Teams by focusing on collaboration and
        relationships.
      </h2>
    <% end %>
  </div>

  <div>
    <%= link_to "works/we_ate_the_web_saving_money",
      class: "work-link" do %>
      <%= image_tag "works/jason-ramirez-piggy-title-card.png" %>
      <h2 class="work-link__title">
        Saving Money, 2016
      </h2>
      <h3 class="work-link__description">
        How two friends quickly tested the idea of a button to save money and
        learned of a monetization path.
      </h2>
    <% end %>
  </div>
</section>
