<section class="content content--slim">
  <div>
    <%= link_to "protected_works/dropbox_smartifying_activation",
      class: "work-link" do %>
      <div class="work-link__image-container">
        <%= inline_svg "works/dropbox-work-logo.svg", class:
          "work-link__image"%>
        <div class="work-link__protected">
          <%= inline_svg "icon-lock.svg" %>
        </div>
      </div>
      <h2>
        2023
      </h2>
      <span class="work-link__title">
        Smartifying Activation
      </span>
      <h2>
        How we used relevancy to connect customers to the full value of Dropbox
        resulting in $50M+ of annual recurring revenue.
      </h2>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_works/dropbox_enhancing_collaboration",
      class: "work-link" do %>
      <div class="work-link__image-container">
        <%= inline_svg "works/dropbox-work-logo.svg", class:
          "work-link__image"%>
        <div class="work-link__protected">
          <%= inline_svg "icon-lock.svg" %>
        </div>
      </div>
      <h2>
        2022
      </h2>
      <span class="work-link__title">
        Enhancing Collaboration
      </span>
      <h2>
        How we opened up new revenue streams and improved retention by bringing
        new value to freelancers and Teams by focusing on collaboration and
        relationships.
      </h2>
    <% end %>
  </div>

  <div>
    <%= link_to "works/dropbox_keeping_flow", class: "work-link" do %>
      <div class="work-link__image-container">
        <%= inline_svg "works/dropbox-work-logo.svg", class:
          "work-link__image"%>
      </div>
      <h2>
        2019
      </h2>
      <span class="work-link__title">
        Keeping Flow
      </span>
      <h2>
        How in one week we validated an idea, got funding to go after an
        international market, and received a patent.
      </h2>
    <% end %>
  </div>

  <div>
    <%= link_to "works/mayo_gamifying_medical_education",
      class: "work-link" do %>
      <div class="work-link__image-container">
        <%= inline_svg "works/thoughtbot-work-logo.svg", class:
          "work-link__image"%>
      </div>
      <h2>
        2017
      </h2>
      <span class="work-link__title">
        Gamifying Medical Education
      </span>
      <h2>
        How we opened up new revenue streams and improved retention by bringing
        new value to freelancers and Teams by focusing on collaboration and
        relationships.
      </h2>
    <% end %>
  </div>

  <div>
    <%= link_to "works/we_ate_the_web_saving_money",
      class: "work-link" do %>
      <div class="work-link__image-container">
        <%= inline_svg "works/jasonramirez-work-logo.svg", class:
          "work-link__image"%>
      </div>
      <h2>
        2016
      </h2>
      <span class="work-link__title">
        Saving Money
      </span>
      <h2>
        How two friends quickly tested the idea of a button to save money and
        learned of a monetization path.
      </h2>
    <% end %>
  </div>
</section>
