<section class="content content--slim">
  <%= render "work_link_card",
    link_path: "protected_works/grow_marketplace_excellence",
    image_path: "works/grow-marketplace-excellence-title-card.png",
    title: "Marketplace Excellence",
    subtitle: "2025",
    tldr_audio_file: "marketplace-excellence-tldr.mp3",
    description: "A design led initiative to improve the 
      Marketplace experience and help clients find the right therapist." %>

  <%= render "work_link_card",
    link_path: "protected_works/intersession_experiences",
    image_path: "works/grow-intersession-experiences-title-card.png",
    title: "Intersession Experiences",
    subtitle: "2025",
    tldr_audio_file: "intersession-experiences-tldr.mp3",
    description: "A design led initiative to improve the 
      Marketplace experience and help clients find the right therapist." %>

  <%= render "work_link_card",
    link_path: "protected_works/dropbox_smartifying_activation",
    image_path: "works/dropbox-activation-title-card.png",
    title: "Smartifying Activation",
    subtitle: "2023",
    tldr_audio_file: "dropbox-activation-tldr.mp3",
    description: "How we used relevancy to connect customers to the full value of Dropbox
      resulting in $50M+ of annual recurring revenue." %>


  <%= render "work_link_card",
    link_path: "protected_works/dropbox_enhancing_collaboration",
    image_path: "works/dropbox-collaboration-title-card.png",
    title: "Enhancing Collaboration",
    subtitle: "2022",
    tldr_audio_file: "dropbox-collaboration-tldr.mp3",
    description: "How we opened up new revenue streams and improved retention by bringing
      new value to freelancers and Teams by focusing on collaboration and relationships." %>

  <%= render "work_link_card",
    link_path: "protected_works/dropbox_keeping_flow",
    image_path: "works/dropbox-flow-title-card.png",
    title: "Keeping Flow",
    subtitle: "2019",
    tldr_audio_file: "dropbox-flow-tldr.mp3",
    description: "How in one week we validated an idea, got funding to go after an
      international market, and received a patent." %>

  <%= render "work_link_card",
    link_path: "protected_works/mayo_gamifying_medical_education",
    image_path: "works/mayo-clinic-educational-game-title-card.png",
    title: "Gamifying Medical Education",
    subtitle: "2017",
    tldr_audio_file: "mayo-clinic-gamifying-tldr.mp3",
    description: "How we opened up new revenue streams and improved retention by bringing
      new value to freelancers and Teams by focusing on collaboration and relationships." %>  

  <%= render "work_link_card",
    link_path: "protected_works/jason_ramirez_piggy",
    image_path: "works/jason-ramirez-piggy-title-card.png",
    title: "Saving Money",
    subtitle: "2016",
    tldr_audio_file: "saving-money-tldr.mp3",
    description: "How two friends quickly tested the idea of a button to save money and
      learned of a monetization path." %>
</section>
