<div class="custom-audio-player">
  <div class="custom-audio-player__title-container">
    <strong class="custom-audio-player__title"><%= title %> TL;DR.</strong>
  </div>

  <audio preload="metadata">
    <source src="<%= audio_source %>" type="audio/mpeg">
    Your browser doesn't support audio playback.
  </audio>
  
  <div class="custom-audio-player__controls">
    <button class="custom-audio-player__play-button" type="button">
      <%= inline_svg "icon-play.svg", class: "icon play-icon" %>
      <%= inline_svg "icon-pause.svg", class: "icon pause-icon" %>
    </button>
    
    <div class="custom-audio-player__progress-container">
      <div class="custom-audio-player__progress-bar">
        <div class="custom-audio-player__progress-bar-fill"></div>
        <div class="custom-audio-player__progress-bar-handle"></div>
      </div>
    </div>
    
    <div class="custom-audio-player__time">0:00 / 0:00</div>
    
    <div class="custom-audio-player__speed">
      <%= inline_svg "icon-gauge.svg", class: "icon speed-icon" %>
      <select class="custom-audio-player__speed-selector">
        <option value="0.5">0.5x</option>
        <option value="0.75">0.75x</option>
        <option value="1" selected>1x</option>
        <option value="1.25">1.25x</option>
        <option value="1.5">1.5x</option>
        <option value="2">2x</option>
      </select>
    </div>
    
    <div class="custom-audio-player__volume">
      <button class="custom-audio-player__volume-button" type="button">
        <%= inline_svg "icon-volume-x.svg", class: "icon volume-icon volume-icon--muted" %>
        <%= inline_svg "icon-play.svg", class: "icon volume-icon volume-icon--low" %>
        <%= inline_svg "icon-volume-2.svg", class: "icon volume-icon volume-icon--high" %>
      </button>
      <input class="custom-audio-player__volume-slider" type="range" min="0" max="100" value="100">
    </div>

    <% if local_assigns[:transcript_file] %>
      <div class="custom-audio-player__transcript">
        <button class="custom-audio-player__transcript-button" type="button">
          <%= inline_svg "icon-transcript.svg", class: "icon transcript-icon", style: "width: 16px; height: 16px;" %>
        </button>
      </div>
    <% end %>
  </div>

  <% if local_assigns[:transcript_file] %>
    <div class="custom-audio-player__transcript-content">
      <%= read_transcript_file(transcript_file) %>
    </div>
  <% end %>
</div>
