<div class="custom-audio-player" 
     data-controller="custom-audio-player"
     data-custom-audio-player-audio-src-value="<%= asset_path(audio_source) %>"
     data-custom-audio-player-preload-value="metadata">
  <div class="custom-audio-player__title-container">
    <%= inline_svg "icon-headphones.svg", class: "custom-audio-player__title-icon" %>
    <strong class="custom-audio-player__title"><%= title %> TL;DR.</strong>
  </div>

  <audio data-custom-audio-player-target="audio" preload="metadata">
    <source src="<%= asset_path(audio_source) %>" type="audio/mpeg">
    Your browser doesn't support audio playback.
  </audio>
  
  <div class="custom-audio-player__controls">
    <div class="custom-audio-player__controls-group">
      <div class="custom-audio-player__control">
        <button class="custom-audio-player__play-button" 
                type="button"
                data-action="click->custom-audio-player#togglePlay"
                data-custom-audio-player-target="playButton">
          <%= inline_svg "icon-play.svg", class: "icon play-icon" %>
          <%= inline_svg "icon-pause.svg", class: "icon pause-icon" %>
        </button>
        
        <div class="custom-audio-player__progress-container">
          <div class="custom-audio-player__progress-bar"
              data-action="click->custom-audio-player#seek"
              data-custom-audio-player-target="progressBar">
            <div class="custom-audio-player__progress-bar-fill"
                data-custom-audio-player-target="progressFill"></div>
            <div class="custom-audio-player__progress-bar-handle"
                data-action="mousedown->custom-audio-player#startDragging"
                data-custom-audio-player-target="progressHandle"></div>
          </div>
        </div>

        <div class="custom-audio-player__time"
          data-custom-audio-player-target="timeDisplay">0:00 / 0:00
        </div>
      </div>
    </div>

    <div class="custom-audio-player__controls-group">
      <div class="custom-audio-player__control">
        <div class="custom-audio-player__volume">
          <button class="custom-audio-player__volume-button" 
                  type="button"
                  data-action="click->custom-audio-player#toggleMute"
                  data-custom-audio-player-target="volumeButton">
            <%= inline_svg "icon-volume-x.svg", class: "icon volume-icon volume-icon--muted" %>
            <%= inline_svg "icon-play.svg", class: "icon volume-icon volume-icon--low" %>
            <%= inline_svg "icon-volume-2.svg", class: "icon volume-icon volume-icon--high" %>
          </button>
          <input class="custom-audio-player__volume-slider" 
                  type="range" 
                  min="0" 
                  max="100" 
                  value="100"
                  data-action="input->custom-audio-player#setVolume"
                  data-custom-audio-player-target="volumeSlider">
        </div>
      </div>
        
      <div class="custom-audio-player__control">
        <div class="custom-audio-player__speed">
          <%= inline_svg "icon-gauge.svg", class: "icon speed-icon" %>
          <select class="custom-audio-player__speed-selector"
                  data-action="change->custom-audio-player#setPlaybackSpeed"
                  data-custom-audio-player-target="speedSelector">
            <option value="0.5">0.5x</option>
            <option value="0.75">0.75x</option>
            <option value="1" selected>1x</option>
            <option value="1.25">1.25x</option>
            <option value="1.5">1.5x</option>
            <option value="2">2x</option>
          </select>
        </div>
      </div>
      
      <% if local_assigns[:transcript_file] || tldr_transcript.present? %>
        <div class="custom-audio-player__control">
          <div class="custom-audio-player__transcript">
            <button class="custom-audio-player__transcript-button" 
                    type="button"
                    data-action="click->custom-audio-player#toggleTranscript"
                    data-custom-audio-player-target="transcriptButton">
              <%= inline_svg "icon-transcript.svg", class: "icon transcript-icon", style: "width: 16px; height: 16px;" %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if local_assigns[:transcript_file] || tldr_transcript.present? %>
    <div class="custom-audio-player__transcript-content post"
         data-custom-audio-player-target="transcriptContent">
        <% if local_assigns[:transcript_file] %>
          <%= read_transcript_file(transcript_file) %>
        <% elsif tldr_transcript.present? %>
          <%= simple_format(tldr_transcript) %>
        <% end %>
    </div>
  <% end %>
</div>
