<div class="modal" id="<%= local_assigns[:id] %>" data-modal-overlay>
  <div class="modal__container">
    <button class="modal__close-button" data-modal-close>
      <%= inline_svg "icon-close.svg", height: "16px", width: "16px" %>
    </button>

    <% if local_assigns[:title] %>
      <div class="modal__header">
        <h3 class="modal__title"><%= title %></h3>
      </div>
    <% end %>
    
    <div class="modal__content">
      <%= yield %>
    </div>

    <% if local_assigns[:type] == "confirm" %>
      <div class="modal__actions">
        <% if local_assigns[:action] && local_assigns[:method] %>
          <%= button_to "Confirm", local_assigns[:action], 
              method: local_assigns[:method], 
              class: "button button--primary",
              data: { modal_close: local_assigns[:id] } %>
        <% else %>
          <button class="button button--primary" id="modal-confirm-button">Confirm</button>
        <% end %>
        
        <button class="button button--secondary" data-modal-close>Cancel</button>
      </div>
    <% end %>
  </div>
</div>
