<section class="content-full-screen">
  <section class="content">
    <p class="u-margin-bottom-large">
      <a href="/works" class="link">
        <%= inline_svg "icon-arrow-left.svg", height: "24", width: "24" %>
      </a>
    </p>

    <h2>
      <%= t("password_protection.unlock.heading") %>
    </h2>

    <p> If you'd like a password to view this case study, please contact
      <a href="mailto:jason@jasonramirez.com">jason@jasonramirez.com</a>.
    </p>

    <%= form_for :password_protection, url: password_protection_unlock_path, method: :post, data: { turbo: false } do |form| %>

      <%= form.password_field "codeword", 
          placeholder: "Password", 
          autofocus: true,
          class: @wrong ? "error" : nil %>

      <% if @wrong %>
        <div class="form-error-message">
          Incorrect password. Please try again.
        </div>
      <% end %>

      <% if @return_to.present? %>
        <%= form.hidden_field "return_to", value: @return_to %>
      <% end %>

      <%= button_tag t("password_protection.unlock.submit"), class: "button" %>
    <% end %>
  </section>
</section>
