<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="NOODP" name="ROBOTS">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#181923">
    <%= render "application/favicons" %>
    <title>
      <%= t(".titles.application") %>
    </title>
    <%= stylesheet_link_tag "application_dark", "data-turbo-track": Rails.env.production? ? "reload" : nil %>
    <%= stylesheet_link_tag "application_light", "data-turbo-track": Rails.env.production? ? "reload" : nil, disabled: true %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= body_class %> dark">
    <main class="page">
      <%= yield %>
    </main>
  </body>
</html>
