<section class="hero">
  <div class="hero_filler"></div>

  <div class="hero_title">
      <div class="rotating-text">
        <div class="rotating-text__item">Craft.</div>
        <div class="rotating-text__item">Quality.</div>
        <div class="rotating-text__item">Speed.</div>
        <div class="rotating-text__item">Growth.</div>
      </div>
      <div class="rotating-text-indicator">
        <span class="rotating-text-indicator__dot rotating-text-indicator__dot--active"></span>
        <span class="rotating-text-indicator__dot"></span>
        <span class="rotating-text-indicator__dot"></span>
        <span class="rotating-text-indicator__dot"></span>
      </div>
  </div>

  <div class="hero_filler">
    <div class="hero_leading-line"></div>
    <div class="hero_guiding-light"></div>
  </div>
</section>

<section class="hero-description">
  <h1 class="hero-description__content">
    I <%= link_to "evolve teams", "#" %>, <%= link_to "embrace AI", "#" %>, develop ambitious ideas,
    foster 
    <%= link_to "purpose-driven", values_path %>
    teams, and craft 
    <%= link_to "principle-led", principles_path %>
    products.
  </h1>
</section>

<div class="leading-line leading-line--large"></div>

<section class="hero-description">
  <div class="hero-description__content">
    <h1>
      I also love to share:
    </h1>
    <% @hashtags.each_with_index do |hashtag, index| %>
      <form action="<%= posts_path %>" class="hero-description__hashtag">
        <%= search_field_tag :search, hashtag.label, hidden: :true %>
        <button type="submit" id="search_posts_submit">
          <span class="link hero-description__hashtag-link">
            <%= hashtag.label %>
            <span class="hero-description__hashtag-count">
              <%= hashtag.usage_count %>
            </span>
          </span>
          <%= hashtag_comma(@hashtags.size, index)%>
        </button>
      </form>
    <% end %>
  </div>
</section>

<div class="leading-line leading-line--large"></div>

<section data-js-carousel class="hero-description carousel" id="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "Jason is a visionary. He'll never settle for what's in front of him;
        he'll learn, provoke, and challenge... productively."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-dropbox.png" %>

        <p>
          <a href="https://www.linkedin.com/in/jasmine-c-b6895b8/">
            Jasmine Christensen </br>
            Senior Design Executive
          </a>
        </p>
      </div>
    </div>

    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "At Dropbox, Jason created an environment that powered a free flow of
        ideas that resulted in innovative solutions."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-dropbox.png" %>

        <p>
          <a href="https://www.linkedin.com/in/francesklein">
            Frances Klein </br>
            Director of Product, Dropbox
          </a>
        </p>
      </div>
    </div>

    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "While consulting us at Abound, Jason engendered a culture of
          design-first thinking with our
        leadership."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-humane.png" %>

        <p>
          <a href="https://www.linkedin.com/in/billshope/">
            Bill Shope </br>
            CFO, Hu.ma.ne
          </a>
        </p>
      </div>
    </div>

    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "At Dropbox, Jason was the thought leader of our group. He
        was a large driving
        factor in our strategic roadmap."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-dropbox.png" %>

        <p>
          <a href="https://www.linkedin.com/in/chaseseibert/">
            Chase Seibert </br>
            Director of Engineering, Dropbox
          </a>
        </p>
      </div>
    </div>
  </div>

  <%= render "carousels/actions" %>
</section>

<div class="leading-line leading-line--large"></div>

<section class="hero-description">
  <h1 class="hero-description__content">
    I've worked with 
    <%= link_to "unicorns", works_path %>,
    consulted for 
    <%= link_to " world class institutions",
    "works/mayo_gamifying_medical_education" %>,
    invalidated stuff 
    <%= link_to "you've never heard of", works_path %>,
    and
    <%= link_to "scaled scaled scaled.", works_path %>
  </h1>
</section>

<div class="leading-line leading-line--large"></div>

<%= render "history" %>
