<section class="hero">
  <div class="hero_filler"></div>

  <%= image_tag "hero-headshot.png", class: "hero_headshot" %>

  <h1 class="hero_title">
    Hi friend.
  </h1>

  <div class="hero_filler">
    <div class="hero_leading-line"></div>
    <div class="hero_guiding-light"></div>
  </div>
</section>

<section class="hero-description">
  <h1 class="hero-description__content">
    I'm a big thinking player/coach Product Design Director
    building teams with
    <%= link_to "values", values_path %>
    and
    products guided by
    <%= link_to "principles", principles_path %>.
  </h1>
</section>

<div class="leading-line leading-line--large"></div>

<section data-js-carousel class="hero-description carousel" id="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "Jason is a visionary. He'll never settle for what's in front of him;
        he'll learn, provoke, and challenge... productively."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-frances-dropbox.png" %>

        <p>
          <a href="https://www.linkedin.com/in/jasmine-c-b6895b8/">
            Jasmine Christensen, Senior Design Executive
          </a>
        </p>
      </div>
    </div>

    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "At Dropbox, Jason created an environment that powered a free flow of
        ideas that resulted in innovative solutions."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-frances-dropbox.png" %>

        <p>
          Frances Klien &mdash; Director of Product, Dropbox
        </p>
      </div>
    </div>

    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "While consulting us at Abound, Jason engendered a culture of
          design-first thinking with our
        leadership."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-bill-dropbox.png" %>

        <p>
          Bill Shope &mdash; CFO, Hu.ma.ne
        </p>
      </div>
    </div>

    <div data-js-carousel-card class="carousel__card">
      <h1 class="hero-description__content">
        "At Dropbox, Jason was the thought leader of our group. He
        was a large driving
        factor in our strategic roadmap."
      </h1>

      <div class="hero-description__quote-person">
        <%= image_tag "recommendations/recommendation-chase-dropbox.png" %>

        <p>
          Chase Seibert &mdash; Director of Engineering, Dropbox
        </p>
      </div>
    </div>
  </div>

  <div data-js-carousel-actions class="carousel__actions">
    <a data-js-carousel-previous-card-trigger="true">
      <%= inline_svg "icon-long-arrow-left.svg" %>
    </a>

    <a data-js-carousel-next-card-trigger="true">
      <%= inline_svg "icon-long-arrow-right.svg" %>
    </a>
  </div>
</section>

<div class="leading-line leading-line--large"></div>

<section class="hero-description">
  <h1 class="hero-description__content">
    I've worked with 
    <%= link_to "unicorns", case_studies_path %>,
    consulted for 
    <%= link_to " world class hospitals", case_studies_path %>,
    invalidated stuff 
    <%= link_to "you've never heard of", case_studies_path %>,
    and
    <%= link_to "scaled scaled scaled.", case_studies_path %>
  </h1>
</section>

<div class="leading-line leading-line--large"></div>

<%= render "history" %>
