<article class="content content--reading">
  <h1>
    Work History
  </h1>

  <section>
    <%= image_tag "history/dropbox-logo.png" %>
    <h2>
      Dropbox
    </h2>

    <h3>
      Design Director
    </h3>
    <p>
      January 2021 - May 2023
    </p>

    <p>
      Managed 19 Product Designers, including Design Managers and Design
      Architects. Managed Product Design, Research and Content Design priorities
      Strategy leadership and contributions.
      Areas of focus were Activation, Retention, Sharing, the Teams SKU, the
      Professional SKU, Membership, amongst others.
      Projects Generated significant NNARR an improved sibling team
      metrics. Served as the company's top interviewer and moderator.
      DEI experimentation in hiring.
    </p>

    <label class="collapseable u-margin-bottom-x-large" for="more_1">
      <input type="checkbox" class="collapseable__input" id="more_1">

      <span class="collapseable__trigger">
        <h5>
          Details
          <%= inline_svg "icon-arrow-down.svg" %>
        </h5>
      </span>

      <ul class="collapseable__content">
        <li>
          Spun up multiple group-wide frameworks like the Feature Validation
          framework for incremental validation to prevent over investment, the
          Stop,Pivot or Preserve framework to drive faster decision making and
          hold accountability, and Senior Design Quality Calibration sessions to
          scale how we thought about quality across the company.
        </li>
        <li>
          Generated <del>XXX</del> Net New Annual Recurring Revenue within a
          span of 2 years by shipping new features and optimized experiences for
          the Teams product, increasing sharing, trial conversions, and
          retention.
        </li>
        <li>
          Achieved a <del>XXX</del> increase in DropboxSign Integration usage, a
          <del>XXX</del> increase in DropboxSign trial starts, a <del>XXX</del>
          increase in DropboxSend users per week, and a <del>XXX</del> adoption
          rate by developing activation frameworks and principles to drive
          initiatives and create impactful activation experiences.
        </li>
        <li>
          Worked closely with the Teams product and other Dropbox products,
          including Teams Capture, DropboxSign, DropboxSend, and Growth, to
          develop the Teams user experience.
        </li>
        <li>
          Served as the company's top design moderator and interviewer,
          conducting interviews for various roles including Research, Content
          Design, Branding, and Product Design.  Successfully hired and retained
          a diverse group of high-performing designers, leading to multiple
          promotions.
        </li>
      </ul>
    </label>
  </section>

  <section>
    <%= image_tag "history/dropbox-logo.png" %>
    <h2>
      Dropbox
    </h2>

    <h3>
      Senior Product Design Manager
    </h3>
    <p>
      October 2018 - 2020
    </p>

    <p>
      Managed two design teams supplying direction on experiment design and
      research while collaborating with teams across Product, Engineering,
      Research, UX Writing, and Revenue Analytics. Provided leadership for the
      professional development of 9 designers, resulting in 3 promotions. 
    </p>


    <label class="collapseable u-margin-bottom-x-large" for="details_2">
      <input type="checkbox" class="collapseable__input" id="details_2">

      <span class="collapseable__trigger">
        <h5>
          Details
          <%= inline_svg "icon-arrow-down.svg" %>
        </h5>
      </span>

      <ul class="collapseable__content">
        <li>
          Directed the Growth Activation and Retention team's product strategy
          shift from short-term revenue approach to a mixed portfolio strategy,
          which was able to open up future opportunities and increase
          user-centered design.
        </li>
        <li>
          Improved activation rates, reduced churn, and contributed to
          <del>XXX</del> in ARR over 18 months by launching new onboarding
          experiences, setting precedents, and running numerous growth
          experiments.
        </li>
        <li>
          Integrated process experiments to increase diversity, equity, and
          inclusion within the team by seeking unique perspectives, addressing
          ownership challenges, and ensuring equity.
        </li>
        <li>
          Established processes to evaluate and improve the culture, quality,
          and professional development of the team, resulting in the highest
          "satisfaction" and "sense of purpose" ratings within the design
          organization.
        </li>
      </ul>
    </label>
  </section>

  <section>
    <%= image_tag "history/thoughtbot-logo.png" %>
    <h2>
      thoughtbot
    </h2>

    <h3>
      Design Director, Consultant
    </h3>

    <p>
      June 2015 - September 2018
    </p>

    <p>
      Increased business and revenue potential through Lean Product
      Experimentation, Rapid Product Prototyping, and observational and
      ethnographic field research, which accelerated the design process and
      improved final product.
    </p>

    <label class="collapseable u-margin-bottom-x-large" for="more_3">
      <input type="checkbox" class="collapseable__input" id="more_3">

      <span class="collapseable__trigger">
        <h5>
          Details
          <%= inline_svg "icon-arrow-down.svg" %>
        </h5>
      </span>

      <ul class="collapseable__content">
        <li>
          Analyzed, developed, and implemented company-wide policies as one of
          two key individuals in the New York office, making operational
          processes more efficient.
        </li>
        <li>
          Helped grow the New York City Design team from 2 designers to 6 by
          providing training, feedback, and coaching to develop team members
          professionally. As a result, 2 designers were promoted to Director
          positions. 
        </li>
        <li>
          Managed the office budget and sales pipeline, which resulted in the
          office becoming the highest-grossing office out of 7. 
        </li>
        <li>
          Contributed to boosting engagement and retention by developing
          content, implementing strategies, and acting as the product lead for
          Upcase, an educational product.
        </li>
      </ul>
    </label>
  <section>

  <section>
    <%= image_tag "history/thoughtbot-logo.png" %>
    <h2>
      thoughtbot
    </h2>

    <h3>
      Product Design Manager Player and Coach, Consultant 
    </h3>

    <p>
      January 2014 - June 2015
    </p>

    <p>
      Created innovative design solutions by focusing on interface design, user
      experience, solution exploration, prototyping, and front-end development
      (HTML, CSS/SCSS, Ruby, JavaScript, and Python) to meet business objectives
      to improve user experiences. 
    </p>

    <label class="collapseable u-margin-bottom-x-large" for="more_4">
      <input type="checkbox" class="collapseable__input" id="more_4">

      <span class="collapseable__trigger">
        <h5>
          Details
          <%= inline_svg "icon-arrow-down.svg" %>
        </h5>
      </span>

      <ul class="collapseable__content">
        <li>
          Managed the design team by facilitating GV Style Design Sprints,
          running generative brainstorms, research sessions, weekly backlog
          grooming meetings and managing projects to promote collaboration. 
        </li>
        <li>
          Built digital products by collaborating with clients, stakeholders,
          and cross-functional teams to understand user needs, define product
          requirements, and design intuitive and visually appealing user
          interfaces. 
        </li>
      </ul>
    </label>
  </section>

  <section>
    <%= image_tag "history/we-ate-the-web-logo.png" %>

    <h2>
      We Ate The Web
    </h2>

    <h3>
      Founder, Consultant
    </h3>

    <p>
      January 2011 - December 2013
    </p>

    <p>
      Established We Ate The Web in 2011 as a New York City-based web design and
      development agency. 
    </p>

    <label class="collapseable u-margin-bottom-x-large" for="more_5">
      <input type="checkbox" class="collapseable__input" id="more_5">

      <span class="collapseable__trigger">
        <h5>
          Details
          <%= inline_svg "icon-arrow-down.svg" %>
        </h5>
      </span>

      <ul class="collapseable__content">
        <li>
          Delivered innovative and user-centric digital solutions through
          interface design, user experience design, problem identification,
          solution exploration, prototyping, and front-end development (HTML,
          PHP, CSS/SCSS, and JavaScript). 
        </li>
        <li>
          Created design solutions for Walmart, Glamour Magazine, and
          Interpublic Group, working with multi- user-friendly self-serve
          printing system that allows customers to create their own materials
          for immediate printing. Accomplishment 
        </li>
      </ul>
    </label>
  </section>

  <h1>
    Education
  </h1>

  <section class="u-margin-bottom-x-large">
    <%= image_tag "history/parsons-logo.png" %>

    <h2>
      Parsons School of Design
    </h2>

    <h3>
      Fine Art and Photography
    </h3>

    <p>
      August 2006 - May 2008
    </p>
  </section>

  <section>
    <%= image_tag "history/u-of-a-logo.png" %>

    <h2>
      The University of Arizona
    </h2>

    <h3>
      Architecture and Business Entrepreneurship
    </h3>

    <p>
      August 2001 - May 2002
    </p>
  </section>
</article>
