<section class="content content--reading u-margin-top-none">
  <%= simple_form_for [:admins, @post] do |f| %>
    <div class="admin-post-action">
      <%= f.button :button, class: "button button--with-icon" do %>
        <%= t(".save") %>
        <%= inline_svg_tag "icon-button-checkmark.svg", class: "button__icon" %>
      <% end %>

      <% if @post.id.present? %>
        <%= link_to "Preview", post_path(@post), class: "button" %>
      <% end %>
    </div>

    <div class="admin-post-meta">
      <%= f.input :published, as: :boolean %>
      <%= f.input :published_date %>
    </div>

    <div class="admin-post-form">
      <%= f.input :title %>
      <%= f.input :long_title %>
      <%= f.input :video_src %>

      <div class="input u-margin-bottom">
        <label>Meta details</label>
        <div>
          <label>ID: <%= @post.id %></label>
        </div>
      </div>

      <div class="admin-post-hashtags">
        <%= f.association :hashtags,
          as: :check_boxes,
          label_method: :label,
          value_method: :id 
        %>
      </div>

      <%= f.input :body, input_html: { "data-js-flexible-textarea": true } %>
    </div>
  <% end %>
</section>
