<%= turbo_frame_tag "form-frame" do %>
  <div id="browser-url"></div>
  <div id="post_form"></div>
  <%= simple_form_for [:admins, @post] do |f| %>
    <section class="admin-drawer" data-controller="drawer" data-js-drawer>
      <a class="admin-drawer__close-trigger button button--square"
        data-js-drawer-close-trigger>
        <%= inline_svg_tag "icon-close.svg" %>
      </a>

      <h2>
        Post Details
      </h2>

      <div class="admin-post-meta">
        <%= f.input :published, as: :boolean %>
      </div>

      <div class="admin-post-meta">
        <%= f.input(:published_date,
          label: false,
          as: :date,
          order: [:day, :month, :year],
        ) %>
      </div>

      <div class="admin-post-meta">
        <%= f.input :summary, class: "admin-post-form__textarea",
          input_html: { "data-controller": "flexible-textarea", 
            "data-js-flexible-textarea": true } %>
      </div>

      <div class="admin-post-meta">
        <%= f.input :tldr_transcript, class: "admin-post-form__textarea",
          input_html: { "data-controller": "flexible-textarea", "data-js-flexible-textarea": true } %>
      </div>

      <div class="admin-post-meta">
        <%= f.input :audio_src %>
      </div>

      <div class="admin-post-meta">
        <%= f.input :video_src %>
      </div>

      <div class="admin-post-meta">
        <div class="admin-post-hashtags">
          <%= f.association(:hashtags,
            as: :check_boxes,
            label_method: :label,
            value_method: :id,
            collection: Hashtag.order(:label),
          ) %>
        </div>
      </div>

      <div id="post_id_and_url">
        <% if @post.id.present? %>
          <div class="admin-post-meta">
            <label>Post ID</label>
            <input name="post-id" value="<%= @post.id %>" readonly>
          </div>

          <div class="admin-post-meta">
            <label>Post URL</label>
            <input name="post-url" value="<%= post_url(@post) %>" readonly>
          </div>
        <% end %>
      </div>
    </section>

    <section class="content content--medium u-margin-top-x-large">
      <div id="published_chip">
        <% if @post.published %>
          <div class="admin-chip admin-chip--published">
            Published
          </div>
        <% else %>
          <div class="admin-chip admin-chip--not-published">
            Not Published
          </div>
        <% end %>
      </div>

      <div class="admin-post-form">
        <%= f.input(:title,
          as: :text,
          input_html: {placeholder: "Title"}
        ) %>

        <%= f.input(:post_markdown,
          input_html: {
            "data-controller": "flexible-textarea",
            "data-js-flexible-textarea": "",
          placeholder: "Body",
        }) %>
      </div>
    </section>

    <div class="admin-floating-action">
      <a class="admin-floating-action__button" data-js-drawer-open-trigger>
        <%= inline_svg_tag "icon-ellipsis.svg" %>
      </a>

      <%= f.button(:button,
        id: "save_post",
        class: "admin-floating-action__button",
        data: { turbo_action: " submit" },
      ) do %>
        <%= inline_svg_tag "icon-checkmark.svg" %>
      <% end %>

      <div id="post_preview_button">
        <% if @post.id.present? %>
          <%= link_to(post_path(@post),
            data: { turbo: :false },
            id: "preview_post",
            class: "admin-floating-action__button",
          ) do %>
            <%= inline_svg_tag "icon-preview.svg" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="flashes" id="post_flash">
</div>
