<section class="content content--medium">
  <h1>
    Posts
  </h1>

  <div class="u-margin-bottom-large">
    <span><%= @posts.count %> posts</span>
  </div>

  <% @posts.each do |post| %>
    <div class="admin-post-item <%= post.published_state_class %>">
      <div class="admin-post-item__published-status">
        <% if post.published %>
          <div class="admin-chip admin-chip--small admin-chip--published">
          </div>
        <% else %>
          <div class="admin-chip admin-chip--small admin-chip--not-published">
          </div>
        <% end %>
      </div>

      <div class="admin-post-item__time">
        <time>
          <%= post.pretty_published_date %>
        </time>
      </div>

      <div class="admin-post-item__title">
        <%= link_to post.title, edit_admins_post_path(post) %>
      </div>

      <%= form_with url: [:admins, post],
        method: :delete,
        local: true,
        class: "inline-form" do |form| %>
        <button type="submit" 
            class="delete-button" 
            onclick="return confirm('Are you sure?')">
          <%= inline_svg "icon-trashcan.svg", height: "16", width: "16" %>
        </button>
      <% end %>
    </div>
  <% end %>
</section>
