<section class="content content--slim">
  <h1>
    <%= t(".all_posts") %>
  </h1>

  <div class="u-margin-bottom-large">
    <span><%= @posts.count %> posts</span>
  </div>

  <% @posts.each do |post| %>
    <div class="admin-post-item <%= post.published_state_class %>">
      <div class="admin-post-item__published-status">
        <% if post.published %>
          <div class="admin-chip admin-chip--small admin-chip--published">
          </div>
        <% else %>
          <div class="admin-chip admin-chip--small admin-chip--not-published">
          </div>
        <% end %>
      </div>

      <div class="admin-post-item__time">
        <time>
          <%= post.pretty_published_date %>
        </time>
      </div>

      <div class="admin-post-item__title">
        <%= link_to post.title, edit_admins_post_path(post) %>
      </div>

      <%= link_to [:admins, post],
        data: { turbo_method: :delete },
        onclick: "return confirm('Are you sure?')" do %>
        <%= inline_svg "icon-trashcan.svg", height: "16", width: "16" %>
      <% end %>
    </div>
  <% end %>
</section>
