<turbo-stream action="replace" target="post_flash">
  <template>
    <div class="flashes" id="post_flash">
      <div class="flash-notice">
        <%= inline_svg "icon-checkmark.svg" %>
        <%= t("admins.flash.updated") %>
      </div>
    </div>
  </template>
</turbo-stream>

<% if @slug_changed %>
<turbo-stream action="update" target="browser-url">
  <template>
    <script>
      // Update the browser URL to reflect the new slug
      window.history.replaceState(null, null, '<%= edit_admins_post_path(@post) %>');
    </script>
  </template>
</turbo-stream>

<turbo-stream action="update" target="post_preview_button">
  <template>
    <% if @post.id.present? %>
      <%= link_to(post_path(@post),
        data: { turbo: :false },
        id: "preview_post",
        class: "admin-floating-action__button",
      ) do %>
        <%= inline_svg_tag "icon-preview.svg" %>
      <% end %>
    <% end %>
  </template>
</turbo-stream>
<% end %>

<turbo-stream action="update" target="published_chip">
  <template>
    <% if @post.published %>
      <div class="admin-chip admin-chip--published">
        Published
      </div>
    <% else %>
      <div class="admin-chip admin-chip--not-published">
        Not Published
      </div>
    <% end %>
  </template>
</turbo-stream>
