<section class="content content--reading">
  <h2>
    <%= t("titles.followers.new") %>
  </h2>

  <p class="u-margin-bottom-large">
    <%= t(".sign_up") %>
  </p>

  <%= simple_form_for :follower, url: followers_path do |form| %>
    <%= form.input :email, wrapper_html: { class: "sky-label" } %>
    <%= form.button :button,
      class: "button button--with-icon" do %>
      <%= t("followers.new.submit") %>
      <%= inline_svg_tag "icon-checkmark.svg", class: "button__icon" %>
    <% end %>
  <% end %>
</section>
