<section class="content content--reading">
  <h1 class="u-margin-bottom-x-large">
    My 
    <mark>principles</mark>
    influence
    how I mentor, coach,
    explore and create solutions.
  </h1>

  <ul class="minimal-unordered-list">
    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="more_1">
        <input type="checkbox" class="collapseable__input" id="more_1">

        <span class="collapseable__trigger">
          <h2>
            Useful
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            Usefulness is be the highest priority. 
            The number one reason a product 
            (or business for that matter) fails &mdash; nobody wants it.
          </p>
          <p>
            Making useful products 
            increases customer satisfaction,
            addresses market
            competitiveness,
            increases user adoption and retention, 
            and perhaps most importantly
            lays the foundation
            to scale your audience.
          </p>
            By understanding your
            target audience's needs and designing with purpose, you create
            products that provide real value and make a meaningful impact in the
            lives of your users.
          <p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="more_2">
        <input type="checkbox" class="collapseable__input" id="more_2">

        <span class="collapseable__trigger">
          <h2>
            Obvious
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          </p>
            Your designs should feel be obvious.
            Focus on creating intuitive
            and easily understandable
            interfaces, or experiences
            that meet your customer expectations.
          </p>
          <p>
            Doing so will
            minimize the learning curve,
            and enhance usability and
            satisfaction.
            Obvious designs improve efficiency and productivity, support
            accessibility and inclusivity,
            build trust, and empower users to make
            informed decisions.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="more_3">
        <input type="checkbox" class="collapseable__input" id="more_3">

        <span class="collapseable__trigger">
          <h2>
            Simple
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            "Simple" is all about keeping things straightforward and
            user-friendly. It's not just about making the first action crystal
            clear; it's about stripping away unnecessary complexity that hinders
            customers from seeing the bigger picture and understanding the full
            value of a product. When things get overly complicated, it kills the
            spirit of exploration and prevents users from finding those hidden
            gems of extra value.
          </p>
          <p>
            By embracing "simple", you make it easier for users to navigate,
            understand, and engage with a product. It reduces the mental burden,
            encourages exploration, and lets users dig deeper to uncover more
            awesomeness. Plus, a simple design is scalable and adaptable, ready
            to grow alongside the evolving needs of your users.
          <p>
          </p>
            So, keep it
            simple, my friend, and watch as users embrace your product with open
            arms, delighted by its ease and impressed by the value they discover
            along the way.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="more_4">
        <input type="checkbox" class="collapseable__input" id="more_4">

        <span class="collapseable__trigger">
          <h2>
             Unified
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            When your visual artifacts, language, tone, colors, and even those
            tiny interactions all work together seamlessly, magic happens. It
            builds trust and familiarity.
          </p>
          <p>
            See, when your design stays unified, it creates a strong brand
            identity that people can recognize from a mile away. It's not just
            about the product itself; it extends to social media, ads, and all
            those other places where your brand shows up. It's like having your
            own VIP queue, where people know exactly what to expect and feel
            connected to your awesomeness.
          </p>
          <p>
            And here's the icing on the cake: that unified experience
            builds an emotional connection, making users
            feel a sense of familiarity
            with how your product makes them feel.
            So keep it unified, my friend, and watch as people line up to
            be a part of your unforgettable design journey.
          </p>
        </div>
      </label>
    </li>

    <li class="u-margin-bottom-medium">
      <label class="collapseable" for="more_5">
        <input type="checkbox" class="collapseable__input" id="more_5">

        <span class="collapseable__trigger">
          <h2>
            Pretty
            <%= inline_svg "icon-arrow-down.svg" %>
          </h2>
        </span>

        <div class="collapseable__content">
          <p>
            Pretty designs bring joy and make user experiences more enjoyable.
            They capture attention, spark interest, and create positive emotions
            that keep users engaged. Aesthetically pleasing designs also convey
            a sense of professionalism and quality, building trust with users
            and enhancing brand reputation. They help your brand stand out and
            be memorable, creating a distinctive visual identity that users can
            recognize and recall.
          </p>
          <p>
            Furthermore, pretty designs encourage users to
            explore and discover more, providing an intuitive and visually
            appealing experience that increases user confidence and willingness
            to interact with the product.
            By
            prioritizing aesthetics, you can create engaging and memorable
            experiences that resonate with users.
          </p>
        </div>
      </label>
    </li>
  </ul>
</section>
