<article class="content content--reading post">
  <h1 class="post-title">
    <%= inline_svg "case_studies/dropbox-logo.svg" %>
    Dropbox Activation in 2023
  </h1>

  <h1>
    Project
  </h1>

  <p>
    From 2021 onwards our strategy towards Activation was to 
    <mark>connect the customer to the full value of Dropbox.</mark>
    My teams set out to create an activation experience that scaled for multiple
    products and increased offerings — this is how we did it.
  </p>

  <h2>
    Developing a strategy
  </h2>

  <p>
    Using an
    <%= link_to "inclusive development framework",
      "#inclusive-high-level-planning" %>,
    me and my EPD lead partners
    set out to develop the first pass of a high level strategy.
    <mark>We began by identifying the problems worth solving. </mark>
    We leveraged existing research and conducted
    new research, including some that I specifically requested.
    We analyzed data from past A/B tests; many
    of which were derived from strategies I wrote.
  </p>

  <p>
    We engaged our Customer Experience
    team, talked with customers, and monitored our forums.
    We discovered that 
    <mark> 
    customers were not finding value beyond the basic file, sync, and share
    functionalities. </mark>
    We also noticed that the user experience was negatively affected by frequent
    upsells, eroding the trust of our users. Furthermore, the complexity of our
    foundational features was driving customers away.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Problem Spaces
      </h3>
    </header>

    <ol>
      <li>
        Customers aren't discovering value outside of file, sync and share.
      </li>
      <li>
        Customer quit if the value isn’t immediate.
      </li>
      <li>
        Trust is degraded by a user experience peppered with upsells.
      </li>
      <li>
        Foundational features are complex which drives customers away.
      </li>
    </ol>
  </div>

  <p>
    With a set of problems identified, our Data Science partner
    took the lead on sizing the opportuntieis 
    to understanding their business impact.
    From here, <mark>we had research and data validation,
    and strong revenue justification
    to go after our problem spaces </mark>.
  </p>

  <h2>
    Timeline and team
  </h2>

  <p>
    This project is ongoing as of Q2 2023, but
    I'm going to focus on the 1 1/2 years
    from Q3, 2021 to Q1 2023 which
    covers significant milestones up until I departed from Dropbox
    in Q3 2023.
  </p>

  <p>
    <mark>The project brought 10 plus functions together.</mark>
    This is a non exhaustive list of the peoiple, and functions,
    I collaborated with.
    Without them, this project wouldn't have been possible.
  </p>

  <div class="case-study-focus case-study-focus--small">
    <header class="case-study-focus__header">
      <h3>
        Team
      </h3>
    </header>

    <div class="case-study-focus__grid">
      <strong>Lead Partners</strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Frances Klein
        </li>
        <li>
          Chase Seibert
        </li>
        <li>
          Rajiv Desai
        </li>
      </ul>

      <strong>Product Design</strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Bev Achterhoff
        </li>
        <li>
          Liat Golan
        </li>
        <li>
          Destani Abner-June
        </li>
        <li>
          Brandon Hyman
        </li>
        <li>
          Christina Holden
        </li>
        <li>
          Anthony Restivo
        </li>
        <li>
          Andrea Deng
        </li>
        <li>
          Alex Oski
        </li>
        <li>
          Joey Cordes
        </li>
        <li>
          Aska Chung
        </li>
        <li>
          Kris Mendoza
        </li>
        <li>
          Bjorn Røstad
        </li>
        <li>
          Fiona Rolander
        </li>
      </ul>

      <strong>
        Product Marketing
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Madison Moyd
        </li>
      </ul>

      <strong>
        Research
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Maria Handberg
        </li>
        <li>
          Jenn DiZio
        </li>
        <li>
          Mackenzie Millar
        </li>
        <li>
          Alison Ku
        </li>
        <li>
          Beini Shi
        </li>
      </ul>

      <strong>
        Product
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Jessie Miller
        </li>
        <li>
          Brett Schuenemann
        </li>
        <li>
          Kaylee Prior
        </li>
        <li>
          Anastasia Auber
        </li>
        <li>
          Dany Jradi
        </li>
        <li>
          Rory Davidson
        </li>
        <li>
          Michael Stanzler
        </li>
        <li>
          Hudson Arnold
        </li>
        <li>
          Bonnie Xiao
        </li>
      </ul>

      <strong>
        Engineering
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Mariana Bezler
        </li>
        <li>
          Thomas Le Jeuene
        </li>
        <li>
          Abraham Velazquez
        </li>
      </ul>

      <strong>
        Brand
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Pedro del Corro
        </li>
      </ul>

      <strong>
        Content Design
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Ashley Goodrich
        </li>
        <li>
          Angelique Little
        </li>
        <li>
          Sarah Gurman
        </li>
        <li>
          Lauren Kwan
        </li>
      </ul>

      <strong>
        Data Science
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Christina Choi
        </li>
        <li>
          Courtney Ankrim
        </li>
        <li>
          Yi Yang
        </li>
        <li>
          Prakesh Stec
        </li>
      </ul>

      <strong>
        Customer Experience
      </strong>
      <ul class="minimal-unordered-list u-margin-bottom-large">
        <li>
          Steven Soward
        </li>
        <li>
          Fabein Keim
        </li>
        <li>
          Tommy Fink
        </li>
      </ul>
    </div>
  </div>

  <h1>
    Planning and process
  </h1>

  <p>
    I often leverage principles, values, and process to improve outcomes.
    For this project, I'll highlight a few process improvements I made.
  </p>

  <h2>
    Establishing Rituals
  </h2>
  <p>
    With a mild gap in soluiton quality, <mark>I kicked off several
    rituals to empower feedback, collaboration, innovation,
    alignment, and big picture thinking. </mark>
    This was an ongoing practice and wasn’t done once.
  </p>
  <ul>
    <li>
      Bi-weekly Design critiques (for feedback and quality)
    </li>
    <li>
      Weekly Design studio time (for x-fn collaboration)
    </li>
    <li>
      Weekly Design calibration (for design quality calibration)
    </li>
    <li>
      Quarterly vision sprints (for x-fn future thinking)
    </li>
  </ul>

  <h2>
    Leveraging Data & Resesarch
  </h2>
  <p>
    Using data to inform design decisions wasn't a skillset many in the
    team possesed.
    I took 2 steps to address this.
    <mark>
    The first step was to
    help designers build a relationship with data.</mark>
    I did so by making a specific ask;
    pair with a Data Scientist between projects
    and work together to come up with a list of assumptions.
    <mark>The second step was to build more design rigor into
      our A/B testing processes.</mark>
    In critiques, and 1:1s, I would
    focus on the simple things like isolating design
    variables and designing with intent to learn.
  </p>
  <p>
  </p>

  <a name="inclusive-high-level-planning"></a>
  <h2>
    Inclusive High Level Planning
  </h2>
  <p>
    Including all voices creates connection to the product.
    <mark>To develop strategy I lobbied for, and employed, a
    combined tops down, bottoms up, approach</mark> that would 
    allow everyone to contribute.
  </p>
  <p>
    We landed on the “W” approach.
    Leads would establish a foundational direction from existing
    information, contributions and feedback came from squads, and back up and
    down until we had a high level plan for the year.
  </p>

  <h1>
    Design ❤️
  </h1>

  <p>
    To give a little detail
    into how I lead design through teams, 
    We'll dive into the root problem, how it
    was solved for, and pull back to look at how it evovled. The we'll dive
    into an end state of one of the lines of work.
  </p>

  <p>
    As a director, my role was to ensure that the team has buy in, support space
    to explore, a vetted direction and the best path forward.
    <mark>My role is to derisk our time-investment by ensuring that we are
    solving an important and impactful problem with the right solution.</mark>
    I hold myself and my teams accountable.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Problem #1
      </h3>
    </header>

    <p>
      <mark>
        Customers aren't discovering value outside of file, sync and share.
      </mark>
    </p>
  </div>

  <h2>
    Process
  </h2>

  <p>
    I love the double diamond.
    This is the process I will bring to a team if they don't have one.
    <mark>If they have a process, I’ll be sure to push for
    a process that incorporates the key elements
    — the problem must be real, and the solution tested.</mark>
    This was the foundation I lay for my teams, and for the team solving
    this problem.
  </p>
  <p>
    But at first, our problem was too big and we needed a short
    learning cycle. So, I pulled from another tool in my toolset.
  </p>

  <div class="case-study-image-containter">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-double-diamond.png" %>
      <figcaption>
        An abstraction of the double diamond design thinking process made 
        popularized by the British Design Council.
      </figcaption>
    </figure>
  </div>

  <p>
    The Google Venture Design Sprint, similar to the Double Diamond, emphasizes
    effective problem identification and iterative testing. It accelerates
    learning and provides clear direction. <mark>I encouraged a Design Sprint to
    a Designer and a Product Manager for fast insights.</mark>
    The experienced designer
    took charge, and the project kicked off with a team of 2 designers, 2
    product managers, 1 data scientist, 1 content designer, 1 researcher, and 2
    engineers.
  </p>

  <div class="case-study-image-containter">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-design-sprint.png" %>
      <figcaption>
        An abstraction of the 5-day Design Sprint Process
        made famous by Jake Knapp. Create while Jake Knapp
        was at Google Ventures.
      </figcaption>
    </figure>
  </div>

  <h2>Understand</h2>
  <h3>Day 1</h3>
  <p>
    The team, and leadership, had numerous assumptions to challenge:
    people struggle to find value due to a cluttered product,
    FSS is the only value,
    other features are neglected,
    and even if discovered our users lack knowledge on their usage.
    Leveraging initial assumptions, research and behavioral data,
    the team came away with a specific assumption they wanted to test.
    As the approver, <mark>I approved testing the assumption
    that relevant communication enhances feature and product discovery
    effectiveness.</mark>
  </p>

  <h2>Diverge & Converge</h2>
  <h3>Day 2 & Day 3</h3>
  <p>
    As the team expanded their thinking, I had the privilege of participating in
    crazy-8s. One intriguing suggestion was a bot named
    "Friend Lee" on Dropbox, acting as a fake teammate who learns from your
    actions and guides you. Although deemed too unconventional, it remains an
    idea I love. <mark>By the end of the second day, they selected two solutions
    to test their assumption about relevance.</mark>
  </p>

  <h2>Prototype</h2>
  <h3>Day 4</h3>
  <p>
    On what may be my favorite day, prototype day, the team commenced building
    their ideas using Figma as the chosen prototyping tool.
    <mark>
    The skilled
    designers on the team crafted two relatively polished experiences for
    testing.
    </mark>
    The skilled
    One involved a quiz-based onboarding process that transparently
    gathered insights from customers while reciprocating with valuable feedback.
    The other consisted of a pattern triggered by actions, leading to a workflow
    chain.
  </p>

  <h2>Test</h2>
  <h3>Day 5</h3>
  <p>

    The prototypes underwent testing with 12 customers within a single day. The
    two designers, in collaboration with the research team, conducted
    two distinct tests, each involving six users.
    Active participation and
    note-taking were evident from everyone involved.
    <mark>
    The outcome revealed that
    relevance played a pivotal role.
    </mark>
    Smart suggestions that followed actions
    proved to be effective, and customers were willing to share information if
    they understood it would guide them towards specific actions.
  </p>

  <h2>Success</h2>
  <p>
    The sprint was a success. The team had validated their assumption — “Feature
    and product discovery communication is effective when relevant.“ From here,
    we would start to plan a series of experiments based off of this learning.
  </p>

  <h2>Rinse & Repeat</h2>
  <p>
    After the design sprint we explored fresh
    ways to communicate with our customers, discovered new opportunities to
    engage them, and found different ways to understand their needs.
    <mark>
    By combining Design Sprints and A/B testing,
    we kept iterating and improving.</mark>
    I can even show you a sneak peek of the activation experience,
    which is mostly
    in-product for now, just waiting to be released to the masses.
    <mark>
    The sprint
    was a success, as we confirmed our belief that relevant communication is key
    for feature and product discovery.
    </mark>
    With this valuable insight in hand, we're
    now planning a series of experiments to build upon our findings.
  </p>

  <div class="case-study-image-containter">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-experiment-map.png" %>
      <figcaption>
        The series of experiments from 2022 to 2023 that landed us at the
        Q2, 2023 solution for connecting our users to the full
        value of Dropbox.
      </figcaption>
    </figure>
  </div>

  <h2>
    Solution
  </h2>
</article>

<section>
  <section data-js-carousel class="carousel" id="carousel">
    <div data-js-carousel-cards-placeholder
      class="carousel__cards-placeholder"></div>

    <div data-js-carousel-cards class="carousel__cards">
      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-1.png" %>
        <figcaption>
          An screen showing
          the in product quiz.
          It was launched
          while working on the
          building data gathering capabilities and recommendation models
          based on pre-product actions. The quiz was a skippable
          and returnable quiz.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-2.png" %>
        <figcaption>
          An screen showing the landing experience
          post quiz.
          We offered up specific actions to the customer
          based on what we knew about them.
          We also notified them of a "sparkle icon"
          that would point them to features for them.
          The customer had the option to turn this off.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-3.png" %>
        <figcaption>
          A screen showing how actions would substitute in
          after the customer took an action.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-4.png" %>
        <figcaption>
          A screen showing the admin created checklist. A clever idea to 
          leverage "social pressure". Leveraging the social connection of a
          person to create onboarding actions, had a better result than
          relying on the "software" to recommend actions.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-5.png" %>
        <figcaption>
          A screen showing how the sparkle icon shows up to point
          the customer to an action based off of a behavior they just took.
          In this case, it's pointing to the admin console to help the admin
          manage their teammates right after inviting one.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-6.png" %>
        <figcaption>
          This screen shows how the sparkle icon can subtley show up
          as the customer explores. This is a recommended action
          to upload content - a common behavior.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-7.png" %>
        <figcaption>
          Showing the interaction once the upload button was click.
        </figcaption>
      </figure>

      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-activation-screen-8.png" %>
        <figcaption>
          Finally, a screen showing a "smart" sparkle icon based off of
          the fact that a customer just uploaded a video.
          Different actions and informaiton about content would
          change the recommendation or specificity of that
          recommendation.
        </figcaption>
      </figure>
    </div>

    <div data-js-carousel-actions
      class="carousel__actions case-study-carousel-actions">
      <a data-js-carousel-previous-card-trigger="true">
        <%= inline_svg "icon-long-arrow-left.svg" %>
      </a>

      <a data-js-carousel-next-card-trigger="true">
        <%= inline_svg "icon-long-arrow-right.svg" %>
      </a>
    </div>
  </section>
</section>

<article class="content content--reading post">
  <h1>
    Impact
  </h1>

  <h2>
    Revenue Impact
  </h2>

  <p>
    While we worked on activation, we <mark>increased Team invites, Trial
    Per Conversion Rate and Paid Team Retention</mark> — resulting in
    <del>XXX </del> NNARR over 1.5 years. I’d like to be able to say it was
    exclusively because
    of us, but data science is not a perfect science. 
  </p>

  <h2>
    Supported Partner Goals
  </h2>

  <p>
    <mark>We drove important metrics for partner feature teams and newly
    acquired companies for Dropbox.</mark>
    Our work drove a <del>XXX</del> increase in Dropbox Sign usage
    (Previously HelloSign)
    a <del>XXX</del> increase in weekly active Dropbox Send usage
    (Previously DocSen),
    as well as increase usage on FSS features;
    like a <del>XXX</del> increase in Tidy Up Feature adoption.
  </p>

  <h2>
    Validated A Vision
  </h2>

  <p>
    We <mark>validated a new direction for activation </mark>
    &mdash; that a  full funnel
    experience starting before in-product can train a data model
    to provide relevant recommendations.
    The platform is being worked on, the data models built,
    the orgs coming together.
    There is now a principle architect working on the
    next iteration.
  </p>

  <h1>
    Challenges
  </h1>

  <h2>
    Conflicting Goals
  </h2>

  <p>
    Different teams had goals that 
    incentived them to simply get as much traffic as possible to show gains.
    This set up a lot of
    internal competition for our customer’s attention.
    To solve for this, <mark>I wrote a draft of an engagement model that
    focused on empowering experimentation, while holding a high quality bar for
    shipping</mark> something to a general audience.
  </p>

  <p>
    The process specified criteria for exiting each stage, and most importantly,
    a process for escalation. Even with the engagement model people still had
    disagreements — so we iterated and built that into our engagement model.
    My product partner Frances took this and ran with it. She instilled this
    process across our org.
  </p>

  <div class="case-study-image-containter">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-working-model.png" %>
      <figcaption>
        A view of the Dropbox Core Working Model that
        was created to improve outcomes
        through aligning incentives.
      </figcaption>
    </figure>
  </div>

  <h2>
    A Bad User Experience
  </h2>

  <p>
    The varried ways teams went about getting traffic
    resulted in what was un-lovingly referred to as a “billboard”
    experience.
    Customers would get peppered with upsells to different products, or
    blocking recommendations to new features.
    To solve for this
    <mark>
    I created the
    CCC framework. Customer, Context and Content
    focused on quality over quantity of users</mark>.
    We tasked 1 team to create an internal case studies to prove the
    effectiveness of the framework for evangelization.
  </p>

  <h3>
    The Case Study
  </h3>

  <p>
    <strong>Experiment A</strong>: A page takeover in the form of a modal when a
    customer lands. Of 10K people that saw it, 2.7% clicked, and 15 trials
    started. 0.15% success.
  </p>

  <p>
    <strong>Experiment B</strong>:
    A rich confirmation (content) appearing when
    a customer uploads a PDF (context)
    because we suspect they need signing capabilities based on the file name
    (customer). Of 2K people that saw it,
    5% clicked, 80 trials converted. 
    3.6% success. Roughly 300% better.
  </p>

  <div class="case-study-image">
    <figure class="case-study-image__figure">
      <%= image_tag "case_studies/dropbox-activation-bad-ux-before.png" %>
      <figcaption>
        Before: a page takeover often used to get clicks to drive
        users to a feature. It blocked users and was a very ineffective design.
      </figcaption>
    </figure>

    <figure class="case-study-image__figure">
      <%= image_tag "case_studies/dropbox-activation-bad-ux-after.png" %>
      <figcaption>
        After: A "rich confirmation" popping up after a user takes an action.
        The confirmation is non-blocking, happens in response to an action, and
        guides the user to a connecting action.
      </figcaption>
    </figure>
  </div>

  <h2>
    An Inconsistent UI
  </h2>

  <p>
    There was no source
    of truth for how activation experiences should be designed, 
    none the less,
    how the interfaces should look.
    This resulted in many disparate experiences and interfaces.
    <mark>
    I tasked a design manager to
    build out a component library and partnered with them to evangelize
    it.</mark>
  </p>
  <div class="case-study-image">
    <figure class="case-study-image__figure">
      <%= image_tag "case_studies/dropbox-activation-inconsistent-ui.png" %>
      <figcaption>
        An abstraction of how the collection of components was presented. A
        name, a description, a visual of the component and information on how,
        and when, to use each component.
      </figcaption>
    </figure>
  </div>

  <h1>
    Learnings
  </h1>

  <h2>
    Activation should be targeted when possible.
  </h2>

  <p>
    As the offerings of a product grows, so does the audience and their needs.
    <mark>As the audience becomes more complex the array
    of jobs-to-be-done expands and a one size fits all approach
    for activation loses it's effectiveness.</mark>
    A combination of general activation (what you do with less knowledge of the
    customer) and targeted activation (knowledge based) is
    an effective way to scale an activation experience as a product grows.
  </p>

  <h2>
    Bad incentives make bad products.
  </h2>

  <p>
    <mark>Goals drive outcomes more than principles.</mark>
    And misaligned goals can drive bad outcomes regardlress of intention.
    If goals are
    misaligned there is a high risk that one team’s work can negatively impact
    that of another’s.
    Make sure that goals across your group or company are aligned!
  </p>

  <h2>
    Speed can be a valuable constraint.
  </h2>

  <p>
    When we forced time constraints, our rigor went up, our scope down.
    <mark>Speed
    became a valuable constraint to keep us from over investing in ideas that
    weren’t validated.</mark> This learning inspired 
    <%= link_to raw("a value of mine &mdash; Encourage Deadlines."), 
      values_path(anchor: 'encourage-deadlines') %>
  </p>

  <h1>
    😌
  </h1>

</article>
