<div data-js-reading-progress-bar></div>

<article class="content content--reading post">
  <div class="post-title">
    <div class="post-title__image-container">
      <%= inline_svg "case_studies/dropbox-case-study-logo.svg" %>
    </div>
    Dropbox Activation in 2023
  </div>

  <h2>
    How we used relevancy to connect customers to the full value of Dropbox
    resulting in $50M+ of annual recurring revenue.
  </h2>

  <h1>
    Table of Contents
  </h1>

  <div>
    <ol>
      <li>
        <a href="#background">Background</a>
      </li>

      <li>
        <a href="#planning">Planning</a>
      </li>

      <li>
        <a href="#designing">Designing</a>
      </li>

      <li>
        <a href="#impact">Impact</a>
      </li>

      <li>
        <a href="#challenges">Challenges</a>
      </li>

      <li>
        <a href="#learnings">Learnings</a>
      </li>

      <li>
        <a href="#closing">Closing</a>
      </li>
    </ul>
  </div>
</article>

<article class="content content--reading post">
  <a name="background"></a>
  <h1>
    Background
  </h1>

  <p>
    In the third quarter of 2021, we began plotting an activation strategy to
    connect
    customers to the full
    value of Dropbox. As leads, we developed a high-level strategy, leveraging
    existing and new research, customer connections, and data analysis from past
    A/B tests. Our qualitative research revealed that customers were not finding
    value beyond basic file, sync, and foundational
    functionalities, while quantitative
    data indicated that upsells in the user experience were causing churn.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        High Level Problem Spaces
      </h3>
    </header>

    <ol>
      <li>
        Customers don't discover value outside of file, sync and share.
      </li>
      <li>
        Customer's trust is degraded by frequent upsells.
      </li>
      <li>
        Customers find foundational features too complex.
      </li>
    </ol>
  </div>

  <p>
    Our Data Science partner sized the opportunities to understand potential
    business impact. With quantitative and qualitative justification, we moved
    to deeper planning.
  </p>

  <p>
    In the fourth quarter of 2021, our organization reorganized and our group
    advocated to make this a priority for 2022. We allocated a couple of teams
    to this project. Ultimately, the project brought 10 plus functions together.
    This is a non exhaustive list of the people and functions I collaborated
    with to make this project possible.
  </p>

  <div class="case-study-focus case-study-focus--small">
    <header class="case-study-focus__header">
      <h3>
        Contributors
      </h3>
    </header>

    <div class="case-study-focus__grid">
      <strong>Lead Partners</strong>
      <ul class="minimal-unordered-list">
        <li>
          Frances Klein
        </li>
        <li>
          Chase Seibert
        </li>
        <li>
          Rajiv Desai
        </li>
      </ul>

      <strong>Product Design</strong>
      <ul class="minimal-unordered-list">
        <li>
          Andrea Deng
        </li>
        <li>
          Alex Oski
        </li>
        <li>
          Joey Cordes
        </li>
        <li>
          Aska Chung
        </li>
        <li>
          Kris Mendoza
        </li>
        <li>
          Bjorn Røstad
        </li>
        <li>
          Fiona Rolander
        </li>
        <li>
          Bev Achterhoff
        </li>
        <li>
          Liat Golan
        </li>
        <li>
          Destani Abner-June
        </li>
        <li>
          Brandon Hyman
        </li>
        <li>
          Christina Holden
        </li>
        <li>
          Anthony Restivo
        </li>
      </ul>

      <strong>
        Product Marketing
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Madison Moyd
        </li>
      </ul>

      <strong>
        Research
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Maria Handberg
        </li>
        <li>
          Jenn DiZio
        </li>
        <li>
          Mackenzie Millar
        </li>
        <li>
          Alison Ku
        </li>
        <li>
          Beini Shi
        </li>
      </ul>

      <strong>
        Product
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Jessie Miller
        </li>
        <li>
          Brett Schuenemann
        </li>
        <li>
          Kaylee Prior
        </li>
        <li>
          Anastasia Auber
        </li>
        <li>
          Dany Jradi
        </li>
        <li>
          Rory Davidson
        </li>
        <li>
          Michael Stanzler
        </li>
        <li>
          Hudson Arnold
        </li>
        <li>
          Bonnie Xiao
        </li>
      </ul>

      <strong>
        Engineering
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Mariana Bezler
        </li>
        <li>
          Thomas Le Jeuene
        </li>
        <li>
          Abraham Velazquez
        </li>
      </ul>

      <strong>
        Brand
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Pedro del Corro
        </li>
      </ul>

      <strong>
        Content Design
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Ashley Goodrich
        </li>
        <li>
          Angelique Little
        </li>
        <li>
          Sarah Gurman
        </li>
        <li>
          Lauren Kwan
        </li>
      </ul>

      <strong>
        Data Science
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Christina Choi
        </li>
        <li>
          Courtney Ankrim
        </li>
        <li>
          Yi Yang
        </li>
        <li>
          Prakesh Stec
        </li>
      </ul>

      <strong>
        Customer Experience
      </strong>
      <ul class="minimal-unordered-list">
        <li>
          Steven Soward
        </li>
        <li>
          Fabein Keim
        </li>
        <li>
          Tommy Fink
        </li>
      </ul>
    </div>
  </div>

  <a name="planning"></a>
  <h1>
    Planning
  </h1>
  <p>
    <strong>Establishing Rituals</strong> played a significant
    role in the success of this project.
    With a gap in solution quality, I kicked off several
    rituals to empower feedback, collaboration, innovation,
    alignment, and big picture thinking.
    This was an ongoing practice.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Rituals
      </h3>
    </header>

    <ul>
      <li>
        Bi-weekly Design critiques for feedback and quality.
      </li>
      <li>
        Weekly Design studio time for cross-functional collaboration.
      </li>
      <li>
        Weekly Design calibration for design quality calibration.
      </li>
      <li>
        Quarterly vision sprints for cross-functional future thinking.
      </li>
    </ul>
  </div>

  <p>
    In addition, I leveled-up the design function's ability
    <strong>to leverage data and research</strong>
    to inform design decisions.
    I took 2 steps to address this.
    The first step was to
    help designers build a relationship with data.
    I did so by making a specific ask;
    pair with a Data Scientist between projects
    and work together to come up with a list of assumptions.
    The second step was to build more design rigor into
    our A/B testing processes.
    In critiques and 1:1s I would
    focus on the simple things like isolating design
    variables and designing with intent to learn.
  </p>

  <p>
    Finally, to bring divergent ideas, creativity, and engagement to the
    project, I pitched an <strong>inclusive planning process.</strong>
    Working with my cross-functional leads partners, we combined a tops down,
    bottoms up, approach that would allow everyone to contribute. We landed on
    the “W” approach. Leads would establish a foundational direction from
    existing information, contributions and feedback came from squads, and back
    up and down until we had a high level plan for the year.
  </p>

  <a name="designing"></a>
  <h1>
    Designing
  </h1>

  <p>
    As a director, my role was to ensure that the team had buy in, 
    the space to explore, a vetted direction, and the best path forward.
    My role was to de-risk our time-investment by ensuring that we were
    solving an important and impactful problem with the right solution.
  </p>

  <p>
    Let's zoom into a root problem space one of the teams solved for,
    and how they solved it.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Problem Space #1
      </h3>
    </header>

    <p>
      Customers aren't discovering value outside of file, sync and share.
    </p>
  </div>

  <p>
    <strong>
    I love the double diamond.
    This is the foundation I lay for my teams, and for the team solving
    this problem.
    </strong>
  </p>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-double-diamond.png" %>
      <figcaption>
        An abstraction of the double diamond design thinking process made 
        popularized by the British Design Council.
      </figcaption>
    </figure>
  </div>

  <p>
    But at first, our problem was too big and we needed a short learning cycle.
    So, I pulled from another tool in my toolkit. The Google Venture Design
    Sprint, similar to the Double Diamond, emphasizes effective problem
    identification and iterative testing. It accelerates learning and provides
    clear direction. I guided a Designer and a Product Manager to leverage a
    Design Sprint. The experienced designer took charge, and the project kicked
    off with a team of 2 designers, 2 product managers, 1 data scientist, 1
    content designer, 1 researcher, and 2 engineers.
  </p>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-design-sprint.png" %>
      <figcaption>
        An abstraction of the 5-day Design Sprint Process
        made famous by Jake Knapp. Created while Jake Knapp
        was at Google Ventures. This was used to demonstrate the
        similarities to design thinking and
        get alignment on using the process
        for vague problem spaces.
      </figcaption>
    </figure>
  </div>

  <p>
    <strong>
      On day one,
    </strong>
    the team, and leadership, had numerous assumptions to challenge:
    people struggle to find value due to a cluttered product, FSS (File, Sync
    and Share) is the only value, other features are neglected, and even if
    discovered our users lack knowledge on their usage. Leveraging initial
    assumptions, research and behavioral data, the team came away with a
    specific assumption they wanted to test. As the approver, I approved testing
    the assumption that relevant communication enhances feature and product
    discovery effectiveness.
  </p>

  <p>
    <strong>
      As the team diverged and converged,
    </strong>
    I had the privilege of participating in
    crazy-8s. One intriguing suggestion was a bot named
    "Friend Lee" on Dropbox, acting as a fake teammate who learns from your
    actions and guides you. Although deemed too unconventional, it remains an
    idea I love. By the end of the second day, they selected two solutions
    to test their assumption about relevance.
  </p>

  <p>
    <strong>
      On prototype day,
      the team commenced building
      their ideas in Figma.
    </strong>
    The skilled
    designers on the team crafted two relatively polished experiences for
    testing.
    One solution
    involved a quiz-based on-boarding process that transparently gathered
    insights from customers while reciprocating with valuable feedback. The
    other consisted of a pattern triggered by actions, leading to a workflow
    chain.
  </p>

  <p>
    <strong>
      Finally, we tested the solutions.
    </strong>
    The prototypes underwent testing with 12 customers within a single day. The
    two designers, in collaboration with the researchers, conducted
    two distinct tests.
    Each test involved six users.
    Active participation and
    note-taking was required from everyone involved.
    The outcome revealed that
    relevance played a pivotal role.
    Smart suggestions that followed actions
    proved to be effective, and customers were willing to share information if
    they understood it would guide them towards specific actions.
  </p>

  <p>
    <strong>
      The sprint was a success.
    </strong>
    The team had validated their assumption — “Feature
    and product discovery communication is effective when relevant.“ From here,
    we would start to plan a series of experiments based off of this learning.
  </p>

  <p>
    <strong>
      After the design sprint we explored fresh
      ways to communicate with our customers, discovered new opportunities to
    engage them, and found different ways to understand their needs.
    </strong>
    Post sprint,
    we conducted 12 experiments
    focused on connecting our customers to the full
    value of Dropbox.
    We have continued to iterate to with a combination of A/B tests
    and learning experiments.
  </p>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-experiment-map.png" %>
      <figcaption>
        The series of experiments from 2022 to 2023 that landed us at the
        Q2, 2023 solution for connecting our users to the full
        value of Dropbox.
      </figcaption>
    </figure>
  </div>

  <p>
    The Design Sprint kicked off a series of experiments that
    have led us to a combination
    of general (weak behavioral knowledge of a customer)
    and targeted (strong behavioral knowledge of a customer)
    activation approach
    as opposed to a one-size fits all approach.
  </p>

  <p>
    Here is part of the solution we landed on. Dropbox is continuing to explore
    in the second quarter of 2023.
  </p>
</article>

<section data-js-carousel class="carousel" id="carousel">
  <div data-js-carousel-cards-placeholder
    class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-1.png" %>
      <figcaption>
        A screen showing the in-product quiz. It was launched while working on
        building data gathering capabilities and recommendation models based
        on pre-product actions. The quiz could be skipped and returned to.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-2.png" %>
      <figcaption>
        A screen showing the landing experience
        post quiz.
        We offered up specific actions to the customer
        based on what we knew about them.
        We also notified them of a "sparkle icon"
        that would point them to features relevant to them.
        The customer had the option to turn this off.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-3.png" %>
      <figcaption>
        A screen showing how actions would substitute in
        after the customer took an action.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-4.png" %>
      <figcaption>
        A screen showing the admin-created checklist, a clever idea to 
        leverage "social pressure". Leveraging the social connection of a
        person to create on-boarding actions had a better result than
        relying on data to recommend actions.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-5.png" %>
      <figcaption>
        A screen showing how the sparkle icon points
        the customer to an action based off of a behavior they just took.
        In this case, it's pointing to the admin console to help the admin
        manage teammates after inviting a teammate.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-6.png" %>
      <figcaption>
        This screen shows how the sparkle icon can subtly show up
        as the customer explores. This is a recommended action
        to upload content - a common behavior.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-7.png" %>
      <figcaption>
        Showing the interaction once the upload button was click.
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card case-study-carousel-card">
      <%= image_tag "case_studies/dropbox-activation-screen-8.png" %>
      <figcaption>
        Finally, a screen showing a "smart" sparkle icon based off of
        the fact that a customer just uploaded a video.
        Different actions and information about content would
        change the recommendation or specificity of that
        recommendation.
      </figcaption>
    </figure>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <a name="impact"></a>
  <h1>
    The Impact
  </h1>

  <p>
    <small>
      * Some information has been redacted.
    </small>
  </p>

  <p>
    While we worked on activation, we increased Team invites, Trial
    Per Conversion Rate and Paid Team Retention — <strong>resulting in an
      increase of <del>XXX </del> NNARR over 1.5 years.</strong>
    I’d like to be able to say it was exclusively because of us, but data
    science is not a perfect science. 
  </p>

  <p>
    <strong>We drove important metrics for partner feature teams and newly
    acquired companies for Dropbox.</strong>
    Our work drove a <del>XXX</del> increase in Dropbox Sign usage
    (Previously HelloSign),
    a <del>XXX</del> increase in weekly active Dropbox Send usage
    (Previously DocSend),
    and increased usage on FSS (File, Sync and Share) features
    such as an increase in usage of the Tidy Up feature by <del>XXX</del>.
  </p>

  <p>
    Finally, <strong>we validated a new direction for activation 
    &mdash; that a  full funnel
    experience starting before in-product can train a data model
    to provide relevant recommendations.</strong>
    The platform is being worked on, the data models built,
    the organizations coming together.
    There is now a principle architect working on the
    next iteration. Getting Dropbox to this stage is a resounding success and
    something I'm very proud to have been a part of.
  </p>

  <a name="challenges"></a>
  <h1>
    The Challenges
  </h1>

  <p>
    <strong>Different teams had goals that 
    incentivized them to simply get as much traffic as possible to show gains.
    </strong>
    This set up a lot of
    internal competition for our customer’s attention.
    To solve for this, I drafted an engagement model that
    focused on empowering experimentation, while holding a high quality bar for
    shipping something to a general audience.
    It specified criteria for exiting each stage, and most importantly,
    a process for escalation.
    My product partner Frances took this and ran with it. She instilled this
    process across our org.
  </p>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-working-model.png" %>
      <figcaption>
        A view of the Dropbox Core Working Model that
        was created to improve outcomes
        through aligning incentives.
      </figcaption>
    </figure>
  </div>

  <p>
    <strong>We also struggled with a bad user experience.</strong>
    The varied ways teams went about getting traffic resulted in what was
    referred to as a “billboard” experience. Customers got peppered
    with upsells to different products, or blocking recommendations to new
    features. To solve for this I created the CCC framework. Customer, Context
    and Content focused on quality over quantity of users. We tasked 1 team to
    create an internal case study to prove the effectiveness of the CCC
    framework.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        The Case Study
      </h3>
    </header>

    <p>
      <strong>Experiment A</strong>: A page takeover in the form of a modal when
      a customer lands. The modal asked the user to "Try DropboxSign".  Of 10K
      people that saw it, 2.7% clicked, and 15 trials started. A 0.15% success.
    </p>

    <p>
      <strong>Experiment B</strong>:
      A rich confirmation (content) appearing when
      a customer uploads a PDF (context)
      because we suspect they need signing capabilities based on the file name
      (customer). Of 2K people that saw it,
      5% clicked, 80 trials converted. 
      3.6% success. Roughly 300% better.
    </p>
  </div>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-bad-ux-before.png" %>
      <figcaption>
        Before: a page takeover often used to get clicks to drive
        users to a feature. It blocked users and was a very ineffective design.
      </figcaption>
    </figure>
  </div>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-bad-ux-after.png" %>
      <figcaption>
        After: A "rich confirmation" popping up after a user takes an action.
        The confirmation is non-blocking, happens in response to an action, and
        guides the user to a connecting action.
      </figcaption>
    </figure>
  </div>

  <p>
    With teams collaborating, and guidance on design strategy,
    we tackled <strong>an inconsistent UI.</strong>
    There was no source
    of truth for how activation experiences should be designed,
    none the less,
    how the interfaces should look.
    This resulted in many disparate experiences and interfaces.
    I tasked a design manager to
    build out a component library and partnered with them to evangelize
    it.
  </p>

  <div class="case-study-image-container">
    <figure class="case-study-image">
      <%= image_tag "case_studies/dropbox-activation-inconsistent-ui.png" %>
      <figcaption>
        An abstraction of how the collection of components was presented. A
        name, a description, a visual of the component and information on how,
        and when, to use each component.
      </figcaption>
    </figure>
  </div>

  <a name="learnings"></a>
  <h1>
    Learnings
  </h1>

  <p>
    Our biggest learning was that 
    <strong>a one size fits all approach doesn't scale.</strong>
    As the offerings of a product grows, the audience becomes more complex,
    and their array of jobs-to-be-done expands.
    A combination of general activation (weak customer behavioral data)
    and targeted activation (strong customer behavioral data)
    is
    an effective way to scale an activation experience as a product grows.
  </p>

  <p>
    But shipping at scale is only effective if the org is set up
    to do so.
    We learned that
    <strong>
    goals drive outcomes more than principles.
    </strong>
    Misaligned goals can drive bad outcomes regardlress of intention.
    If goals are
    misaligned there is a high risk that one team’s work can negatively impact
    that of another’s.
  </p>

  <p>
    Finally,
    we learned that <strong>time constraints are our friends.</strong>
    When we forced time constraints, our rigor went up, our scope down. Speed
    became a valuable constraint to keep us from over investing in ideas that
    were not validated. This shaped
    <%= link_to raw("one of my leadership values: to encourage deadlines."), 
      values_path(anchor: 'encourage-deadlines') %>
  </p>

  <a name="closing"></a>
  <h1>
    Closing
  </h1>

  <p>
    Our journey to connect customers to the full value of Dropbox involved
    thorough research, collaboration, and iterative testing. We identified key
    problem areas and validated the importance of relevance in feature and
    product discovery. By developing a full funnel experience that leverages
    data models for relevant recommendations, we have achieved impactful
    results, increased engagement metrics, and validated a new activation
    direction. Overcoming challenges through inclusive planning, aligned goals,
    and streamlined processes, the team will continue refining their strategy to
    provide a seamless and valuable user experience.
  </p>

  <p>
    Thanks for reading.
    If you have any questions or comments, please don't hesitate
    to reach out to me at jason@jasonramirez.com.
  </p>

  <h1>
    😌
  </h1>
</article>
