<div data-js-reading-progress-bar></div>

<article class="content content--reading post">
  <h1 class="post-title">
    <div class="post-title__image-container">
      <%= inline_svg "case_studies/dropbox-case-study-logo.svg" %>
    </div>
    Dropbox Flow
  </h1>

  <h2 class="u-margin-bottom-x-large">
    How in one week we validated an idea,
    got funding to go after an international market,
    and received a patent.
  </h2>

  <div>
    <ol>
      <li>
        <a href="#background">Background</a>
      </li>

      <li>
        <a href="#planning">Planning</a>
      </li>

      <li>
        <a href="#designing">Designing</a>
      </li>

      <li>
        <a href="#impact">Impact</a>
      </li>

      <li>
        <a href="#challenges">Challenges</a>
      </li>

      <li>
        <a href="#learnings">Learnings</a>
      </li>

      <li>
        <a href="#closing">Closing</a>
      </li>
    </ul>
  </div>
</article>

<article class="content content--reading post">
  <a name="background"></a>
  <h1>
    Background
  </h1>

  <p>
  <em>
    I'll be using the contents of the pitch deck that I created
    and presented
    to the CEO Drew Houston, VP Timothy Young, and VP of Design
    Alastair Simpson, for this case study.
  </em>
  </p>

  <p>
    During Dropbox's 2019 summer hackweek, our team pursued an opportunity
    identified by our Head of International Research. In just one week, we built
    and shipped a prototype, tested it with users in Japan and Indonesia, won an
    award, and progressed towards securing funding and a patent.
  </p>

  <p>
    Our Head of International Research, 
    <a href="https://www.linkedin.com/in/jennifer-dizio-phd-49480275/" target="blank">
    Jen DiZio</a>,
    conducted extensive research on global work habits and tools, drawing from
    her experience at Facebook, WhatsApp, and Instagram. We discovered that over
    2.5 billion people worldwide use chat apps daily, with over 1 billion using
    them for work. Interestingly, most users rely on consumer chat apps like
    Line, WhatsApp, and Facebook Messenger, rather than dedicated work apps like
    Slack or Teams.
  </p>

  <p>
    We identified key pain points through user feedback and quantitative
    studies, finding three features that were deemed "most important" by over
    80% of respondents.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Top 3 Existing Needs
      </h3>
    </header>

    <ol>
      <li>
        Storing files across multiple conversations.
      </li>
      <li>
        Searching for files across multiple conversations.
      </li>
      <li>
        Storing comments and decisions across multiple conversations.
      </li>
    </ol>
  </div>

  <p>
    After a significant competitive audit, we recognized that no one was
    directly addressing these customers' needs while meeting them where they
    are. Consumer apps like Line prioritized personal conversations, while work
    apps like Slack avoided the personal aspect. Both aimed to pull users away
    from consumer chat apps into their own apps. However, SMBs and freelancers
    outside the US, prefered to keep work and personal communication integrated,
    leading to the use of multiple chat apps simultaneously. This discrepancy
    created an opportunity, which is where Dropbox Flow came in.
  </p>

  <h2>
    Background Slides
  </h2>
</article>

<section data-js-carousel class="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>
  <div data-js-carousel-cards class="carousel__cards">
    <% (1..22).each do |index| %>
      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-flow-background-slide-#{index}.png" %>
      </figure>
      <figcaption>
      </figcaption>
    <% end %>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <a name="planning"></a>
  <h1>
    Planning
  </h1>

  <p>
    During Fall Hack week in 2019, we set out to solve these problems with one
    making sure to follow our only principle: "meet the users where they are."
    I put together a small cross functional team to take advantage of the
    opporunity we saw infront of us.
  </p>

  <div class="case-study-focus case-study-focus--small">
    <header class="case-study-focus__header">
      <h3>
        Contributors
      </h3>
    </header>

    <div class="case-study-focus__grid">
      <strong>Owner, Design</strong>
      <ul class="minimal-unordered-list">
        <li>
          Jason Ramirez (me)
        </li>
      </ul>

      <strong>Research</strong>
      <ul class="minimal-unordered-list">
        <li>
          Jen DiZio
        </li>
      </ul>

      <strong>Product</strong>
      <ul class="minimal-unordered-list">
        <li>
          EJ Reckers
        </li>
      </ul>

      <strong>Design</strong>
      <ul class="minimal-unordered-list">
        <li>
          Ming Li
        </li>
      </ul>

      <strong>Engineering</strong>
      <ul class="minimal-unordered-list">
        <li>
          Yenchi Linn
        </li>
      </ul>
    </div>
  </div>

  <a name="designing"></a>
  <h1>
    Designing
  </h1>

  <p>
    We built a prototype that solved for our user's problems and tested it with
    potential customers in Japan and Taiwan. Here are some of the reactions:
  </p>

  <div class="case-study-image-container">
    <figure class="case-study-image__figure">
      <%= video_tag "https://jasonramirez.s3.amazonaws.com/dropbox-flow-app-reactions.mp4",
        controls: true %>
    </figure>
  </div>

  <p>
    The people we talked with  hadn’t seen anything like this before. They were
    excited and the validation was promising. Our next step was to put together
    a pitch to request funding to start on an MVP. Our MVP launch would start
    with 4 in-chat features and 5 out-of-chat workspace features. These features
    focused on the 3-big needs: storing files across multiple
    chats, searching for files across multiple chats,
    capturing important decisions.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        In-Chat MVP Feature Set
      </h3>
    </header>

    <ol>
      <li>
        Add Flow from a conversation.
      </li>
      <li>
        Connect a conversation to a workspace.
      </li>
      <li>
        Automatically store files to a workspace.
      </li>
      <li>
        Capture important decisions.
      </li>
    </ol>
  </div>

  <p>
    For greater control, we have 5 workspace features.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Flow App Experience
      </h3>
    </header>

    <ol>
      <li>
        Setup and organize a workspace.
      </li>
      <li>
        Add multiple conversations to a workspace.
      </li>
      <li>
        Search across conversations and workspaces.
      </li>
      <li>
        View, preview and retrieve content.
      </li>
      <li>
        Share content in a conversation.
      </li>
    </ol>
  </div>

  <p>
    Our MVP tackled the major pain points we'd heard our customers say. Here are
    slides for the solution portion of our pitch:
  </p>

  <h2>
    Integration Into Chat Apps
  </h2>
</article>

<section data-js-carousel class="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>
  <div data-js-carousel-cards class="carousel__cards">
    <% (1..4).each do |index| %>
      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-flow-mvp-integration-slide-#{index}.png" %>
      </figure>
      <figcaption>
      </figcaption>
    <% end %>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <h2>
    Flow App
  </h2>
</article>

<section data-js-carousel class="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>
  <div data-js-carousel-cards class="carousel__cards">
    <% (1..5).each do |index| %>
      <figure data-js-carousel-card
        class="carousel__card case-study-carousel-card">
        <%= image_tag "case_studies/dropbox-flow-mvp-flow-app-slide-#{index}.png" %>
      </figure>
      <figcaption>
      </figcaption>
    <% end %>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <h1>
    The Impact
  </h1>

  <p>
    Our validation rounds provided direction and instilled a "meet the customer
    where they are" mindset at Dropbox. This mindset expanded to other ideas,
    focusing on supporting customers within their existing workflows. We pitched
    a series of fast-follow concepts, leveraging browser extensions, app
    integrations, and methods like email to Dropbox, avoiding the need for a new
    app.
  </p>

  <p>
    The prototype, validation, and pitch secured 6 months of funding from
    Dropbox's internal incubator, Dynamo, for a team of 4 members. We assembled
    a cross-functional team to drive the project towards its first milestone.
  </p>

  <p>
    As a result of our work, we successfully applied for and were granted a
    patent. The legal team at Dropbox supported us in filing for a patent for
    our cloud-based storage solution bridging a chat application. We received
    the patent in 2020.
  </p>

  <a name="challenges"></a>
  <h1>
    The Challenges
  </h1>

  <p>
    Within 3 weeks of securing funding, I went on paternity leave and the lead
    Product Manager, EJ, left Dropbox. As a result, the project lacked inspired
    leadership and expertise to drive it forward. We attempted to establish a
    contingency plan, but it became evident that the necessary skill level was
    not readily available within Dropbox. Consequently, the project funding was
    redirected to a different project with a tangential value proposition, and
    our project officially transitioned away from its original purpose.
  </p>

  <a name="learnings"></a>
  <h1>
    Learnings
  </h1>

  <p>
    Our biggest failure was the lack of a solid plan for continued leadership.
    Despite being aware of my upcoming leave and the Product Manager's
    departure, we failed to adequately staff the project or identify alternative
    leadership to ensure progress towards our first milestone. It was a valuable
    lesson in the importance of proactive planning to maintain leadership and
    momentum.
  </p>

  <a name="closing"></a>
  <h1>
    Closing
  </h1>

  <p>
    During Dropbox's 2019 summer hackweek, our team pursued an opportunity
    identified by our Head of International Research. We built and shipped a
    prototype, tested it with users in Japan and Indonesia, won an award, and
    made progress towards funding and a patent. Our project aimed to address key
    pain points in chat app usage for work, bridging the gap between consumer
    and dedicated work apps.
  </p>

  <p>
    The impact of our work was evident as we secured funding from Dropbox's
    internal incubator and successfully applied for a patent. Our project
    contributed to a mindset shift within Dropbox, emphasizing the importance of
    meeting customers where they are and supporting them within their existing
    workflows. Although we faced challenges with leadership and staffing, this
    experience taught us valuable lessons about proactive planning and
    sustaining momentum.
  </p>

  <h1>
    🫢
  </h1>
</article>
