<section class="content content--slim">
  <div>
    <%= link_to "protected_case_studies/dropbox_activation",
      class: "case-study-link" do %>
      <%= inline_svg "case_studies/dropbox-logo.svg" %>
      <span class="case-study-link__title">
        Activation II
      </span>
      <span>
        2023
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_case_studies/dropbox_activation",
      class: "case-study-link" do %>
      <%= inline_svg "case_studies/dropbox-logo.svg" %>
      <span class="case-study-link__title">
        Team's Value
      </span>
      <span>
        2022
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_case_studies/dropbox_activation",
      class: "case-study-link" do %>
      <%= inline_svg "case_studies/dropbox-logo.svg" %>
      <span class="case-study-link__title">
        Activation I
      </span>
      <span>
        2019
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_case_studies/mayo_clinic",
      class: "case-study-link" do %>
      <%= inline_svg "case_studies/thoughtbot-logo.svg" %>
      <span class="case-study-link__title">
        Mayo Clinic's On Par
      </span>
      <span>
        2017
      </span>
    <% end %>
  </div>
</section>
