<section class="content content--reading">
  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Dropbox: Activation, 2022",
        "protected_case_studies/dropbox_activation" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Dropbox: Teams Value, 2022",
        "protected_case_studies/dropbox_activation" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Dropbox: Activation, 2021",
        "protected_case_studies/dropbox_activation" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Dropbox: Activation, 2019",
        "protected_case_studies/dropbox_activation" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "thoughtbot: Mayo Clinic's On Par",
        "protected_case_studies/mayo_clinic" %>
    </h3>
  </article>
</section>
