<section class="content content--slim">
  <div>
    <%= link_to "protected_case_studies/dropbox_activation",
      class: "case-study-link" do %>
      <div class="case-study-link__image-container">
        <%= inline_svg "case_studies/dropbox-case-study-logo.svg", class:
          "case-study-link__image"%>
        <div class="case-study-link__protected">
          <%= inline_svg "icon-lock.svg" %>
        </div>
      </div>
      <span class="case-study-link__title">
        Dropbox Activation in 2023
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_case_studies/dropbox_collaboration_for_pros_and_teams",
      class: "case-study-link" do %>
      <div class="case-study-link__image-container">
        <%= inline_svg "case_studies/dropbox-case-study-logo.svg", class:
          "case-study-link__image"%>
        <div class="case-study-link__protected">
          <%= inline_svg "icon-lock.svg" %>
        </div>
      </div>
      <span class="case-study-link__title">
        Dropbox Collaboration for Pros and Teams in 2022
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "case_studies/mayo_clinic_educational_game",
      class: "case-study-link" do %>
      <div class="case-study-link__image-container">
        <%= inline_svg "case_studies/thoughtbot-case-study-logo.svg", class:
          "case-study-link__image"%>
      </div>
      <span class="case-study-link__title">
        Mayo Clinic Educational Game in 2017
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "case_studies/piggy", class: "case-study-link" do %>
      <div class="case-study-link__image-container">
        <%= inline_svg "case_studies/jasonramirez-case-study-logo.svg", class:
          "case-study-link__image"%>
      </div>
      <span class="case-study-link__title">
        Saving Money With One Click in 2016
      </span>
    <% end %>
  </div>
</section>
