<section class="content content--slim">
  <h1>Hashtags</h1>

  <% @hashtags.each do |hashtag| %>
    <div class="admin-post-item">
      <div class="admin-post-item__title">
        <%= link_to edit_admins_hashtag_path(hashtag) do %>
          <%= hashtag.label%>
        <% end %>
      </div>

      <div class="admin-post-item__delete">
        <%= link_to edit_admins_hashtag_path(hashtag),
          class: "button button--link" do %>
          <%= t(".edit_hashtag") %>
        <% end %>
      </div>

      <div class="admin-post-item__delete">
        <%= link_to [:admins, hashtag],
          class: "button button--link",
          data: { turbo_method: :delete },
          data: {confirm: "Are you sure?"} do %>
          <%= t(".delete_hashtag") %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
