<section class="content content--medium">
  <h1>Hashtags</h1>

  <% @hashtags.each do |hashtag| %>
    <div class="admin-post-item">
      <div class="admin-post-item__title">
        <%= link_to edit_admins_hashtag_path(hashtag) do %>
          <%= hashtag.label%> 
        <% end %>
        <span class="badge badge--small">
          <%= hashtag.usage_count %>
        </span>
      </div>

      <div class="admin-post-item__actions">
        <%= link_to "#", 
          data: { 
            modal: "delete_hashtag_modal",
            hashtag_id: hashtag.id,
            hashtag_label: hashtag.label,
            delete_url: admins_hashtag_path(hashtag)} do %>
          <%= inline_svg "icon-trashcan.svg", height: "16", width: "16" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render "shared/modal",
    id: "delete_hashtag_modal",
    type: "confirm",
    title: "Delete Hashtag" do %>
    
    
    <div class="banner banner--warning">
      <%= inline_svg "icon-warning.svg", height: "16", width: "16" %>
      This will remove the hashtag from all posts that use it.
    </div>
    
    <p>Are you sure you want to delete "<strong id="hashtag-label"></strong>"? 
    You'll be required to replace it with another hashtag.</p>

    <div class="form-group u-margin-top-medium">
      <label for="replacement-hashtag">Replacement:</label>
      <select id="replacement-hashtag" name="replacement_hashtag_id" required>
        <option value="">Select</option>
        <% @hashtags.each do |hashtag| %>
          <option value="<%= hashtag.id %>"><%= hashtag.label %></option>
        <% end %>
      </select>
    </div>
  <% end %>
</section>
