<section class="content content--slim">
  <h1>Hashtags</h1>

  <% @hashtags.each do |hashtag| %>
    <div class="admin-post-item">
      <div class="admin-post-item__title">
        <%= link_to edit_admins_hashtag_path(hashtag) do %>
          <%= hashtag.label%> 
        <% end %>
        <span class="badge badge--small">
          <%= hashtag.usage_count %>
        </span>
      </div>

      <div class="admin-post-item__actions">
        <%= link_to [:admins, hashtag],
          data: { turbo_method: :delete },
          onclick: "return confirm('Are you sure?')" do %>
          <%= inline_svg "icon-trashcan.svg", height: "16", width: "16" %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
