<%= link_to post_path(post), class: "post-feature" do %>
  <h4 class="post-feature__date u-margin-bottom-small">
    Featured Post
  </h4>

  <%= image_tag "posts/post-leadership-lessons-title-card.png", class: "post-feature__image" %>
  
  <h1 class="post-feature__title">
    <%= post.title %>
  </h1>

  <p class="post-feature__date">
    <%= post.published_date.strftime("%B %d, %Y") %>
  </p>

  <% if post.audio_src.present? %>
    <div class="post-feature__audio">
      <%= inline_svg "icon-headphones.svg", class: "post-feature__audio-icon" %>
      <%= post.audio_src.length %> seconds.
    </div>
  <% end %>

  <% if post.summary.present? %>
    <h3 class="post-feature__summary">
      <%= "#{post.summary.strip}.." %>  
    </h3>
  <% end %>
<% end %>