<article class="post-sample">
  <h2 class="post-sample__title">
    <%= link_to post.display_title, post_path(post) %>
  </h2>

  <div>
    <% post.hashtags.each_with_index do |hashtag, index| %>
      <div class="post-sample__hashtag">
        <form action="<%= posts_path %>">
          <%= search_field_tag :search, hashtag.label, hidden: :true %>
          <button type="submit" id="search_posts_submit" class="link">
            <%= hashtag_with_comma(
              post.hashtags.size,
              hashtag,
              index
            ) %>
          </button>
        </form>
      </div>
    <% end %>
  </div>

  <div class="post-sample__date">
    Published <%= post.pretty_published_date %>
    and
    updated <%= time_ago_in_words(post.updated_at) %> ago
  </div>
</article>
