<footer class="case-study-footer">
  <nav class="case-study-footer-navigation">
    <%= link_to post_path(@previous_post), class: "case-study-footer-navigation__link left" do %>
      <span>
        Previous
      </span>
      <h3>
        <%= @previous_post.title %>
      </h3>
      <p>
        <%= @previous_post.display_title %>
      </p>
    <% end %>

    <%= link_to post_path(@next_post), class: "case-study-footer-navigation__link right" do %>
      <span>
        Next
      </span>
      <h3>
        <%= @next_post.title %>
      </h3>

      <p>
        <%= @next_post.display_title %>
      </p>
    <% end %>
  </nav>
</footer>
