<section class="content content--slim">
  <form id="search_form" action="<%= posts_path %>">
    <%= search_field_tag :search,
      params[:search],
      class: "search-input",
      placeholder: "Search"
    %>

    <button type="submit" id="search_posts_submit" hidden>
      Search
    </button>

    <% unless params[:search].blank? %>
      <%= link_to "Clear Search",
        posts_path, class: "button u-margin-bottom-large" %>
    <% end %>
  </form>

  <% if params[:search].blank? %>
    <% @posts.each do |post| %>
      <%= render "post_sample", post: post %>
    <% end %>
  <% else %>
    <small>
      <%= pluralize(@searched_posts.count, "post", "posts") %>
      found for search
      "<%= params[:search] %>".
    </small>

    <% @searched_posts.each do |searched_post| %>
      <%= render "post_sample", post: searched_post %>
    <% end %>
  <% end %>
</section>
