<section class="content content--reading">
  <form id="search_form" class="form" action="<%= posts_path %>">
    <%= search_field_tag :search,
      params[:search],
      class: "search-input",
      placeholder: "Search"
    %>

    <button type="submit" id="search_posts_submit" hidden>
      Search
    </button>
  </form>

  <% unless params[:search].blank? %>
    <section id="search_results">
      <small>
        <%= pluralize(@searched_posts.count, "post", "posts") %>
        found for search
        "<%= params[:search] %>".
      </small>

      <div class="u-margin-bottom-x-large"></div>

      <ol class="large-ordered-list">
        <% @searched_posts.each do |searched_post| %>
          <li class="post-sample">
            <h2 class="post-sample__title">
              <%= link_to searched_post.display_title, post_path(searched_post) %>
            </h2>

            <time class="post-sample__date">
              <%= searched_post.pretty_published_date %>
            </time>
          </li>
        <% end %>
      </ol>
    </section>

    <hr />
  <% end %>
</section>

<section class="content content--reading">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <article class="post-sample">
        <h2 class="post-sample__title">
          <%= link_to post.display_title, post_path(post) %>
        </h2>

        <time class="post-sample__date">
          <%= post.pretty_published_date %>
        </time>
      </article>
    <% end %>
  <% end %>
</section>
