<section class="content content--slim u-margin-top-none">
  <% featured_post = @posts.find_by(id: 33) %>
  <% if featured_post %>
    <%= render "post_featured", post: featured_post %>
  <% end %>

  <div class="post-search" data-controller="search-form">
    <a name="search"></a>
    <div>
      <form id="search_form" class="post-search__form" data-action="submit->search-form#submit">
        <%= search_field_tag :search,
          params[:search],
          class: "search-input",
          placeholder: "Search",
          data: { 
            search_form_target: "input",
            action: "input->search-form#inputChanged"
          }
        %>

        <button type="button" 
          class="button button--secondary" 
          data-search-form-target="clearButton"
          data-action="click->search-form#clearSearch"
          style="<%= params[:search].blank? ? 'display: none;' : '' %>"
          aria-label="Clear search">
          <%= inline_svg "icon-x.svg" %>
        </button>

        <button type="submit" class="button button--primary">
          <%= inline_svg "icon-search.svg" %>
        </button>
      </form>
    </div>

    <div id="search-results" class="post-search__results">
      <% unless params[:search].blank? %>
        <%= pluralize(@searched_posts.count, "post", "posts") %>
        found for search
        "<%= params[:search] %>".
      <% else %>
        <%= pluralize(@posts.count, "post", "posts") %> to peruse.
      <% end %>
    </div>
  </div>

  <div id="posts-results">
    <% if params[:search].blank? %>
      <% @posts.each do |post| %>
        <%= render "post_sample", post: post %>
      <% end %>
    <% else %>
      <% @searched_posts.each do |searched_post| %>
        <%= render "post_sample", post: searched_post %>
      <% end %>
    <% end %>
  </div>
</section>
