<section class="content content--slim u-margin-top-none">
  <div class="post-search" data-controller="search-clear">
    <form id="search_form" action="<%= posts_path %>" class="post-search__form">
      <%= search_field_tag :search,
        params[:search],
        class: "search-input",
        placeholder: "Search",
        data: { 
          search_clear_target: "input",
          action: "input->search-clear#inputChanged"
        }
      %>

      <%= link_to posts_path, class: "button button--secondary", data: { search_clear_target: "clearButton" }, style: (params[:search].blank? ? "display: none;" : "") do %>
        <%= inline_svg "icon-x.svg" %>
      <% end %>

      <button type="submit" id="search_posts_submit" class="button button--primary">
        <%= inline_svg "icon-search.svg" %>
      </button>
    </form>

    <div class="post-search__results">
      <% unless params[:search].blank? %>
        <%= pluralize(@searched_posts.count, "post", "posts") %>
        found for search
        "<%= params[:search] %>".
      <% end %>
    </div>
  </div>
</section>

<section class="content content--slim">
<!-- latest post -->
</section>

<section class="content content--slim">
  <% if params[:search].blank? %>
    <% @posts.each do |post| %>
      <%= render "post_sample", post: post %>
    <% end %>
  <% else %>
    <% @searched_posts.each do |searched_post| %>
      <%= render "post_sample", post: searched_post %>
    <% end %>
  <% end %>
</section>
