
<% if @post.published || admin_signed_in? %>
  <section class="content content--slim" data-controller="share"
    data-share-url-value="<%= post_url(@post) %>">
    <% unless @post.video_src.blank? %>
      <div class="post-video">
        <iframe src="<%= video_src %>"
          class="post-video__video"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    <% end %>

    <h1 class="post-title" data-share-target="title">
      <%= @post.title %>
    </h1>

    <div data-share-target="text" hidden>
      <%= @post.summary %>
    </div>

    <div class="post-meta">
      <div class="post-meta__stats">
        <span class="post-meta__published">
          Published on <%= @post.pretty_published_date %>
        </span>
        <span class="post-meta__updated">
          Updated <%= time_ago_in_words(@post.updated_at) %> ago
        </span>
      </div>
    </div>

    <% unless @post.audio_src.blank? %>
      <div class="u-margin-bottom-x-large">
      <%= render 'shared/custom_audio_player',
        audio_source: @post.audio_src,
          title: @post.title,
          tldr_transcript: @post.tldr_transcript %>
      </div>
    <% end %>

    <article class="post">
      <%= parsed_body %>
    </article>

    <div class="u-margin-top-large">
      <%= button_to "", {
        class: "link",
        data: { action: "click->share#share" }} do %>
        <%= inline_svg("icon-share.svg") %> Share
      <% end %>
      
      <% if admin_signed_in? %>
        <%= link_to "Edit", edit_admins_post_path(@post), 
            id: "post_edit_link",
            class: "link u-margin-left-medium" %>
      <% end %>
    </div>
  </section>
<% end %>

<%= render "posts_navigation" %>
