<section class="content content--reading">
  <% if @post.published || admin_signed_in? %>
    <% unless @post.video_src.blank? %>
      <div class="post-video">
        <iframe src="<%= @post.video_src %>?hide_owner=true&hide_title=true&hideEmbedTopBar=true"
          class="post-video__video"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    <% end %>

    <h1>
      <%= @post.title %>
    </h1>

    <%= MarkdownParser.new(@post.body).markdown_to_html %>
  <% else %>
    <p>
      <%= t(".removed") %>
    </p>
  <% end %>
</section>

<% if admin_signed_in? %>
  <%= link_to "✏️", edit_admins_post_path(@post), class: "post-edit-link" %>
<% end %>

<%= render "posts_navigation" %>
