<div data-js-reading-progress-bar></div>

<section class="content content--reading post">
  <% if @post.published || admin_signed_in? %>
    <% unless @post.video_src.blank? %>
      <div class="post-video">
        <iframe src="<%= @post.video_src %>?hide_owner=true&hide_title=true&hideEmbedTopBar=true"
          class="post-video__video"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    <% end %>

    <div class="post-title">
      <%= @post.title %>
    </div>

    <div class="post-meta">
      <%= image_tag "hero-headshot.png", class: "post-meta__avatar" %>

      <div class="post-meta__stats">
        <small class="post-meta__published">
          Jason Ramirez published <%= @post.pretty_published_date %>
        </small>

        <small class="post-meta__updated">
          Updated <%= time_ago_in_words(@post.updated_at) %> ago
        </small>
      </div>
    </div>

    <%= MarkdownParser.new(@post.body).markdown_to_html %>
  <% else %>
    <p>
      <%= t(".removed") %>
    </p>
  <% end %>
</section>

<% if admin_signed_in? %>
  <%= link_to "✏️", edit_admins_post_path(@post), class: "post-edit-link" %>
<% end %>

<%= render "posts_navigation" %>
