<div data-js-reading-progress-bar></div>

<% if @post.published || admin_signed_in? %>
  <section class="content content--reading post" data-controller="share"
    data-share-url-value="<%= post_url(@post) %>">
    <% unless @post.video_src.blank? %>
      <div class="post-video">
        <iframe src="<%= video_src %>"
          class="post-video__video"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    <% end %>

    <div class="post-title" data-share-target="title">
      <%= @post.title %>
    </div>

    <div data-share-target="text" hidden>
      <%= @post.summary %>
    </div>

    <div class="post-meta">
      <%= image_tag "headshot-zoomed-in.png", class: "post-meta__avatar" %>

      <div class="post-meta__stats">
        <small class="post-meta__published">
          Jason Ramirez published <%= @post.pretty_published_date %>
        </small>

        <small class="post-meta__updated">
          Updated <%= time_ago_in_words(@post.updated_at) %> ago
        </small>
      </div>
    </div>

    <%= button_to "", {
      class: "link u-margin-bottom-large",
      data: { action: "click->share#share" }} do %>
      <%= inline_svg("icon-share.svg") %> Share
    <% end %>

    <%= parsed_body %>

    <%= button_to "", {
      class: "link u-margin-top-large",
      data: { action: "click->share#share" }} do %>
      <%= inline_svg("icon-share.svg") %> Share
    <% end %>
  </section>
<% end %>

<%= render "posts_navigation" %>
