<div data-js-reading-progress-bar></div>

<article class="content content--reading post">
  <div class="post-meta">
    <%= image_tag "works/dropbox-activation-title-card.png", class:
    "post-meta__image" %>

    <div class="audio-tldr">
      <h3 class="audio-tldr__title">Listen to 2-Minute TLDR</h3>
      <%= render 'shared/custom_audio_player', audio_source: '/assets/dropbox-test.mp3' %>
    </div>

    <div class="post-meta__title">Smartifying Activation</div>

    <h2 class="post-meta__subtitle">Dropbox, 2023</h2>

    <h2 class="post-meta__description">
      How we used relevancy to connect customers to the full value of Dropbox
      resulting in $50M+ of annual recurring revenue.
    </h2>
  </div>


  <h1>Contents</h1>

  <ol>
    <li>
      <a href="#background">Background</a>
    </li>

    <li>
      <a href="#planning">Planning</a>
    </li>

    <li>
      <a href="#designing">Designing</a>
    </li>

    <li>
      <a href="#experiments">Experiments</a>
    </li>

    <li>
      <a href="#challenges">Challenges</a>
    </li>

    <li>
      <a href="#solution">Solution</a>
    </li>

    <li>
      <a href="#impact">Impact</a>
    </li>

    <li>
      <a href="#learnings">Learnings</a>
    </li>

    <li>
      <a href="#closing">Closing</a>
    </li>
  </ol>

  <a name="background"></a>
  <h1>Background</h1>

  <h2> Uncovering Key Problems </h2>

  <p>
    In Q3 2021, we started planning an activation strategy to connect customers
    to Dropbox's full value. We developed a high-level strategy using existing
    research, customer connections, and data from past A/B tests. Our research
    showed customers weren't finding value beyond basic file, sync, and share
    features, while upsells were causing churn.
  </p>

  <ol>
    <li>Customers don't discover value outside of file, sync and share.</li>
    <li>Frequent upsells degrade customer trust.</li>
    <li>Foundational features are too complex.</li>
  </ol>

  <h2> Sizing Opportunities </h2>

  <p>
    Our Data Science partner sized the opportunities to understand potential
    business impact. With quantitative and qualitative justification, we moved
    to deeper planning.
  </p>

  <h2> Aligning and Staffing </h2>

  <p>
    In Q4 2021, our organization reorganized and we advocated to make this a
    priority for 2022. We allocated several teams to this project, ultimately
    bringing together 10+ functions. Here's who I collaborated with:
  </p>

  <h1>Collaborators</h1>

  <div class="work-focus__grid">
    <strong>Lead Partners</strong>
    <ul class="minimal-unordered-list">
      <li>Frances Klein</li>
      <li>Chase Seibert</li>
      <li>Rajiv Desai</li>
    </ul>

    <strong>Product Design</strong>
    <ul class="minimal-unordered-list">
      <li>Andrea Deng</li>
      <li>Alex Oski</li>
      <li>Joey Cordes</li>
      <li>Aska Chung</li>
      <li>Kris Mendoza</li>
      <li>Bjorn Røstad</li>
      <li>Fiona Rolander</li>
      <li>Bev Achterhoff</li>
      <li>Liat Golan</li>
      <li>Destani Abner-June</li>
      <li>Brandon Hyman</li>
      <li>Christina Holden</li>
      <li>Anthony Restivo</li>
    </ul>

    <strong> Product Marketing </strong>
    <ul class="minimal-unordered-list">
      <li>Madison Moyd</li>
    </ul>

    <strong> Research </strong>
    <ul class="minimal-unordered-list">
      <li>Maria Handberg</li>
      <li>Jenn DiZio</li>
      <li>Mackenzie Millar</li>
      <li>Alison Ku</li>
      <li>Beini Shi</li>
    </ul>

    <strong> Product </strong>
    <ul class="minimal-unordered-list">
      <li>Jessie Miller</li>
      <li>Brett Schuenemann</li>
      <li>Kaylee Prior</li>
      <li>Anastasia Auber</li>
      <li>Dany Jradi</li>
      <li>Rory Davidson</li>
      <li>Michael Stanzler</li>
      <li>Hudson Arnold</li>
      <li>Bonnie Xiao</li>
    </ul>

    <strong> Engineering </strong>
    <ul class="minimal-unordered-list">
      <li>Mariana Bezler</li>
      <li>Thomas Le Jeuene</li>
      <li>Abraham Velazquez</li>
    </ul>

    <strong> Brand </strong>
    <ul class="minimal-unordered-list">
      <li>Pedro del Corro</li>
    </ul>

    <strong> Content Design </strong>
    <ul class="minimal-unordered-list">
      <li>Ashley Goodrich</li>
      <li>Angelique Little</li>
      <li>Sarah Gurman</li>
      <li>Lauren Kwan</li>
    </ul>

    <strong> Data Science </strong>
    <ul class="minimal-unordered-list">
      <li>Christina Choi</li>
      <li>Courtney Ankrim</li>
      <li>Yi Yang</li>
      <li>Prakesh Stec</li>
    </ul>

    <strong> Customer Experience </strong>
    <ul class="minimal-unordered-list">
      <li>Steven Soward</li>
      <li>Fabein Keim</li>
      <li>Tommy Fink</li>
    </ul>
  </div>

  <a name="planning"></a>
  <h1>Planning</h1>

  <h2> Rituals </h2>

  <p>
    <strong>Establishing Rituals</strong> was key to this project's success.
    With a gap in solution quality, I kicked off several rituals to enable
    feedback, collaboration, innovation, alignment, and big picture thinking.
  </p>

  <ul>
    <li>Bi-weekly Design critiques for feedback and quality.</li>
    <li>Weekly Design studio time for cross-functional collaboration.</li>
    <li>Weekly Design calibration for design quality calibration.</li>
    <li>Quarterly vision sprints for cross-functional future thinking.</li>
  </ul>

  <h2> Design Quality </h2>

  <p>
    I also improved the design function's ability
    <strong>to use data and research</strong> to inform design decisions. I took
    2 steps: First, I helped designers build relationships with Data Scientists
    by asking them to pair between projects and work together on assumptions.
    Second, I built more design rigor into our A/B testing processes, focusing
    on isolating design variables and designing with intent to learn.
  </p>

  <h2> Inclusive Planning </h2>

  <p>
    Finally, to bring divergent ideas and creativity to the project, I pitched
    an <strong>inclusive planning process.</strong> Working with
    cross-functional leads, we combined top-down and bottom-up approaches. We
    landed on the "W" approach: Leads established foundational direction, squads
    contributed feedback, and we iterated until we had a high-level plan for the
    year.
  </p>

  <a name="designing"></a>
  <h1>Designing</h1>

  <h2>Starting Smart </h2>

  <p>
    As a director, my role was to ensure team buy-in, define the exploration
    space, vet the direction, and define the best path forward to a solution. I
    de-risked our time investment by ensuring we aligned on the most important
    problem we felt was most easily solved.
  </p>

  <p>
    The first problem we would tackle was
    <strong
      >customers aren't discovering value outside of file, sync and
      share.</strong
    >
  </p>

  <p>
    The problem was large, but we felt solvable. To shorted the learning and
    exploration cycle. So I used the Google Venture Design Sprint, which
    emphasizes effective problem identification and iterative testing. I guided
    a Designer and Product Manager to run a Design Sprint with a team of 2
    designers, 2 product managers, 1 data scientist, 1 content designer, 1
    researcher, and 2 engineers.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-design-sprint.png" %>
      <figcaption>
        The 5-day Design Sprint Process created by Jake Knapp at Google
        Ventures.
      </figcaption>
    </figure>
  </div>

  <h2>
    The Design Sprint
  </h2>

  <p>
    <strong>On day one,</strong> the team and leadership had many assumptions to
    challenge: people struggle to find value due to a cluttered product, FSS is
    the only value, other features are neglected, and users lack usage
    knowledge. Using initial assumptions, research and behavioral data, the team
    identified a specific assumption to test: that relevant communication
    enhances feature and product discovery effectiveness.
  </p>

  <p>
    <strong>As the team diverged and converged,</strong> I participated in
    crazy-8s. One interesting idea was a bot named "Friend Lee" on Dropbox,
    acting as a fake teammate who learns from your actions and guides you. By
    day two, they selected two solutions to test their relevance assumption.
  </p>

  <p>
    <strong>On prototype day,</strong> the team built their ideas in Figma. The
    skilled designers crafted two polished experiences. One was a quiz-based
    onboarding process that gathered customer insights while providing valuable
    feedback. The other was a pattern triggered by actions, leading to a
    workflow chain.
  </p>

  <p>
    <strong>Finally, we tested the solutions.</strong> We tested the prototypes
    with 12 customers in one day. The two designers and researchers conducted
    two distinct tests with six users each. Everyone participated and took
    notes. The outcome showed that relevance was key. Smart suggestions that
    followed actions were effective, and customers were willing to share
    information if they understood it would guide them to specific actions.
  </p>

  <a name="experiments"></a>
  <h1>Experiments</h1>

  <h2>The Outcome</h2>

  <p>
    <strong>The sprint was a success.</strong> The team validated their
    assumption: "Feature and product discovery communication is effective when
    relevant." From here, we planned a series of experiments based on this
    learning.
  </p>

  <p>
    <strong>After the design sprint, we explored new ways to communicate with
    customers, discovered new engagement opportunities, and found different
    ways to understand their needs.</strong>
    Post-sprint, we conducted 12 experiments focused on connecting customers to
    Dropbox's full value. We continue to iterate with A/B tests and learning
    experiments.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-experiment-map.png" %>
      <figcaption>
        The series of experiments from 2022 to 2023 that led to our Q2 2023
        solution for connecting users to Dropbox's full value.
      </figcaption>
    </figure>
  </div>

  <a name="challenges"></a>
  <h1>Internal Challenges</h1>

  <p>
    <strong
      >Different teams had goals that incentivized them to get as much traffic
      as possible to show gains.</strong
    >
    This created internal competition for customer attention. To solve this, I
    drafted an engagement model that focused on empowering experimentation while
    maintaining a high quality bar for shipping to a general audience. It
    specified criteria for exiting each stage and, most importantly, a process
    for escalation. My product partner Frances took this and ran with it,
    instilling this process across our org.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-working-model.png" %>
      <figcaption>
        The Dropbox Core Working Model created to improve outcomes through
        aligning incentives.
      </figcaption>
    </figure>
  </div>

  <p>
    <strong>We also struggled with a bad user experience.</strong> The varied
    ways teams got traffic resulted in what was called a "billboard" experience.
    Customers got peppered with upsells to different products or blocking
    recommendations to new features. To solve this, I created the CCC framework:
    Customer, Context and Content focused on quality over quantity. We tasked 1
    team to create an internal case study to prove the CCC framework's
    effectiveness.
  </p>

  <h2>The Case Study</h2>

  <p>
    <strong>Experiment A</strong>: A page takeover modal when customers
    landed, asking them to "Try DropboxSign." Of 10K people who saw it, 2.7%
    clicked, and 15 trials started. A 0.15% success rate.
  </p>

  <p>
    <strong>Experiment B</strong>: A rich confirmation appearing when
    customers upload a PDF (context) because we suspected they needed signing
    capabilities based on the filename (customer). Of 2K people who saw it, 5%
    clicked, 80 trials converted. 3.6% success rate. Roughly 300% better.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-bad-ux-before.png" %>
      <figcaption>
        Before: a page takeover often used to get clicks. It blocked users and
        was very ineffective.
      </figcaption>
    </figure>
  </div>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-bad-ux-after.png" %>
      <figcaption>
        After: A "rich confirmation" popping up after a user takes an action.
        The confirmation is non-blocking, happens in response to an action, and
        guides the user to a connecting action.
      </figcaption>
    </figure>
  </div>

  <p>
    With teams collaborating and guidance on design strategy, we tackled
    <strong>an inconsistent UI.</strong> There was no source of truth for how
    activation experiences should be designed or how interfaces should look.
    This resulted in many disparate experiences and interfaces. I tasked a
    design manager to build a component library and partnered with them to
    evangelize it.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-inconsistent-ui.png" %>
      <figcaption>
        How the component collection was presented: name, description, visual,
        and usage information for each component.
      </figcaption>
    </figure>
  </div>

  <a name="solution"></a>
  <h1>
    The Solution
  </h1>

  <p>
    The Design Sprint kicked off experiments that led us to a combination of
    general (weak behavioral knowledge) and targeted (strong behavioral
    knowledge) activation approaches, rather than a one-size-fits-all approach.
  </p>

  <p>
    Here's part of the solution we landed on. Dropbox continues to explore this
    in Q2 2023.
  </p>
</article>

<section data-js-carousel class="carousel" id="carousel">
  <div
    data-js-carousel-cards-placeholder
    class="carousel__cards-placeholder"
  ></div>

  <div data-js-carousel-cards class="carousel__cards">
    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-1.png" %>
      <figcaption>
        The in-product quiz. It launched while building data-gathering
        capabilities and recommendation models based on pre-product actions. The
        quiz could be skipped and returned to.
      </figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-2.png" %>
      <figcaption>
        The landing experience post-quiz. We offered specific actions based on
        what we knew about the customer. We also notified them of a "sparkle
        icon" that would point to relevant features. Customers could turn this
        off.
      </figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-3.png" %>
      <figcaption>
        How actions would substitute in after the customer took an action.
      </figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-4.png" %>
      <figcaption>
        The admin-created checklist, leveraging "social pressure." Using social
        connections to create onboarding actions had better results than relying
        on data to recommend actions.
      </figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-5.png" %>
      <figcaption>
        How the sparkle icon points customers to actions based on their
        behavior. Here, it's pointing to the admin console to help manage
        teammates after inviting someone.
      </figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-6.png" %>
      <figcaption>
        How the sparkle icon subtly appears as customers explore. This shows a
        recommended upload action - a common behavior.
      </figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-7.png" %>
      <figcaption>The interaction after clicking the upload button.</figcaption>
    </figure>

    <figure data-js-carousel-card class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-activation-screen-8.png" %>
      <figcaption>
        A "smart" sparkle icon based on the customer uploading a video.
        Different actions and content information would change the
        recommendation or its specificity.
      </figcaption>
    </figure>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <a name="impact"></a>
  <h1>The Impact</h1>

  <p>
    <small> * Some information has been redacted. </small>
  </p>

  <p>
    While working on activation, we increased Team invites, Trial Per Conversion
    Rate and Paid Team Retention —
    <strong
      >resulting in an increase of <del>XXX </del> NNARR over 1.5 years.</strong
    >
    I'd like to say it was exclusively because of us, but data science isn't
    perfect.
  </p>

  <p>
    <strong
      >We drove important metrics for partner feature teams and newly acquired
      companies.</strong
    >
    Our work drove a <del>XXX</del> increase in Dropbox Sign usage (Previously
    HelloSign), a <del>XXX</del> increase in weekly active Dropbox Send usage
    (Previously DocSend), and increased FSS feature usage such as a
    <del>XXX</del> increase in Tidy Up feature usage.
  </p>

  <p>
    Finally,
    <strong
      >we validated a new activation direction — that a full funnel experience
      starting before in-product can train a data model to provide relevant
      recommendations.</strong
    >
    The platform is being built, data models are created, organizations are
    coming together. There's now a principal architect working on the next
    iteration. Getting Dropbox to this stage is a resounding success and
    something I'm very proud to have been part of.
  </p>


  <a name="learnings"></a>
  <h1>Learnings</h1>

  <p>
    Our biggest learning was that
    <strong>a one-size-fits-all approach doesn't scale.</strong> As product
    offerings grow, the audience becomes more complex, and their jobs-to-be-done
    expand. A combination of general activation (weak customer behavioral data)
    and targeted activation (strong customer behavioral data) is an effective
    way to scale activation experiences as products grow.
  </p>

  <p>
    But shipping at scale only works if the org is set up for it. We learned
    that <strong>goals drive outcomes more than principles.</strong> Misaligned
    goals can drive bad outcomes regardless of intention. If goals are
    misaligned, there's a high risk that one team's work can negatively impact
    another's.
  </p>

  <p>
    Finally, we learned that <strong>time constraints are our friends.</strong>
    When we forced time constraints, our rigor went up and scope went down.
    Speed became a valuable constraint to keep us from over-investing in
    unvalidated ideas. This shaped <%= link_to raw("one of my leadership values:
    to encourage deadlines."), values_path(anchor: 'encourage-deadlines') %>
  </p>

  <a name="closing"></a>
  <h1>Closing</h1>

  <p>
    Our journey to connect customers to Dropbox's full value involved thorough
    research, collaboration, and iterative testing. We identified key problem
    areas and validated the importance of relevance in feature and product
    discovery. By developing a full funnel experience that leverages data models
    for relevant recommendations, we achieved impactful results, increased
    engagement metrics, and validated a new activation direction. Overcoming
    challenges through inclusive planning, aligned goals, and streamlined
    processes, the team continues refining their strategy to provide a seamless
    and valuable user experience.
  </p>

  <p>
    Thanks for reading. If you have any questions or comments, please don't
    hesitate to reach out to me at jason@jasonramirez.com.
  </p>
</article>
