
<header class="content content--reading">
  <div class="post-meta">
    <%= image_tag "works/dropbox-collaboration-title-card.png", class: "post-meta__image" %>

    <div class="post-meta__title">
      Enhancing Collaboration
    </div>

    <%= 
      render 'shared/custom_audio_player',
      audio_source: 'dropbox-collaboration-tldr.mp3',
      title: 'Enhancing Collaboration',
      transcript_file: 'transcripts/dropbox-enhancing-collaboration.txt'
    %>

    <h2 class="post-meta__subtitle">
      Dropbox, 2022
    </h2>

    <h2 class="post-meta__description">
      How we opened new revenue streams and improved retention by bringing new 
      value to freelancers and Teams through collaboration and relationships.
    </h2>
  </div>
</header>

<article class="content content--reading post">
  <h1>
    Contents
  </h1>

  <ol>
    <li>
      <a href="#background">Background</a>
    </li>

    <li>
      <a href="#planning">Planning</a>
    </li>

    <li>
      <a href="#designing">Designing</a>
    </li>

    <li>
      <a href="#impact">Impact</a>
    </li>

    <li>
      <a href="#challenges">Challenges</a>
    </li>

    <li>
      <a href="#closing">Closing</a>
    </li>
  </ol>

  <a name="background"></a>
  <h1>
    Background
  </h1>

  <p>
    In mid-2021, our "Teams Group" tackled declining Teams SKU retention while 
    leadership noticed increased purchases of the "Professional" SKU designed 
    for freelancers. As the team focusing on "work," we were best suited to 
    explore this opportunity.
  </p>

  <p>
    Frances Klein, my product partner, assembled a "tiger team" of product, 
    design, data, and research at the end of 2021. Marian Oman, our Research 
    Lead for Teams, discovered that remote work fostered temporary working 
    relationships, and Pros and Teams faced similar needs but encountered 
    collaboration challenges. Christina Choi, our Data Science lead, confirmed 
    low retention despite many former Teams users buying Pro.
  </p>

  <p>
    We tasked the tiger team with diagnosing collaboration challenges between 
    Pros and Teams and devising principles and actions. Within weeks, we 
    established a high-level strategy, gained leadership alignment, and assigned 
    two squads to enhance collaboration between Teams and Pros. One would take a 
    "Pro-first" approach, the other a "Teams first". It was a cross-functional 
    project involving Product Design, Research, Content Design, Product, Product 
    Marketing, Customer Experience, Data Science, and Engineering.
  </p>

  <h1>
    Collaborators
  </h1>

  <div class="work-focus__grid">
    <strong>Lead Partners</strong>
    <ul class="minimal-unordered-list">
      <li>
        Frances Klein
      </li>
      <li>
        Chase Seibert
      </li>
    </ul>

    <strong>
      Research
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Marian Oman
      </li>
      <li>
        Maria Handberg
      </li>
      <li>
        Alison Ku
      </li>
    </ul>

    <strong>Product Design</strong>
    <ul class="minimal-unordered-list">
      <li>
        Christina Holden
      </li>
      <li>
        Paula Barcante
      </li>
      <li>
        Quintin Marcus
      </li>
      <li>
        Li-Tien Ou
      </li>
      <li>
        Marquez White
      </li>
      <li>
        Jennifer Spriggs
      </li>
      <li>
        Kris Puckett
      </li>
      <li>
        Chongling Zhou
      </li>
    </ul>

    <strong>
      Product Marketing
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Steven Nguyen
      </li>
      <li>
        Madison Moyd
      </li>
    </ul>

    <strong>
      Product
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Ariel Kwok
      </li>
      <li>
        Ashley Green
      </li>
      <li>
        Ajay Laxman
      </li>
      <li>
        Ji-hwan Seung
      </li>
      <li>
        Jonathan Avila
      </li>
    </ul>

    <strong>
      Engineering
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Thomas LeJuen
      </li>
      <li>
        Abraham Velazquez
      </li>
      <li>
        Stephanie F.
      </li>
      <li>
        Nandan Sawant
      </li>
    </ul>

    <strong>
      Brand
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Pedro del Corro
      </li>
    </ul>

    <strong>
      Content Design
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Sarah Gurman
      </li>
      <li>
        Lauren Kwan
      </li>
      <li>
        Ginger Black
      </li>
    </ul>

    <strong>
      Data Science
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Christina Choi
      </li>
      <li>
        Yini Yang
      </li>
      <li>
        Prakesh Stec
      </li>
    </ul>

    <strong>
      Customer Experience
    </strong>
    <ul class="minimal-unordered-list">
      <li>
        Steven Soward
      </li>
      <li>
        Fabien Keim
      </li>
      <li>
        Tommy Fink
      </li>
    </ul>
  </div>

  <a name="planning"></a>
  <h1>
    Planning
  </h1>

  <h2>
    Semantics
  </h2>

  <p>
    Within the first month, we redefined the concept of "teams." I had a working 
    theory that Pros could be considered as teams, albeit not within the same 
    company. Supported by research and data, I drafted a definition to 
    distinguish between "uppercase-T Teams" and "lowercase-T teams." Together 
    with my cross-functional partners, we established and promoted these new 
    semantics.
  </p>

  <ul>
    <li>
      An uppercase-t "Team" is people working at the same company.
    </li>
    <li>
      A lowercase-t "team" is a group of people working together towards a goal.
    </li>
  </ul>

  <p>
    These new semantics helped us explore a wider breadth of problems and 
    solutions since we were now looking at more relationships than previously.
  </p>

  <h2>
    Validation Framework
  </h2>

  <p>
    Besides opening new avenues for exploration, we had to tackle a validation 
    gap. Around six months into the project, we terminated one of our 
    workstreams, considering it a failure. We encountered internal obstacles, 
    skipped crucial validation steps, and overcommitted our team. Our lengthy 
    timelines and substantial technological investments resulted in significant 
    time wasted. To address this issue, I drafted an initial version of an 
    incremental validation framework to prevent excessive investment. I assigned 
    ownership of this framework to an EPD trio within the group to share 
    responsibility, iterate, validate, and scale it.
  </p>

  <p>
    For this framework, each stage would have a time box to limit scope. The 
    size of the audience required for conviction would depend on the level of 
    risk. We would scale the audience and investment only when we had sufficient 
    conviction. This approach proved effective, providing a staged framework for 
    investment through validation.
  </p>
</article>

<section data-controller="carousel" class="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>
  <div data-js-carousel-cards class="carousel__cards">
    <% (1..10).each do |index| %>
      <figure data-js-carousel-card
        class="carousel__card work-carousel-card">
        <%= image_tag "works/feature-validation-process-#{index}.png" %>
      </figure>
    <% end %>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <h2>
    Validation Process
  </h2>

  <p>
    While implementing the Feature Validation Process, we realized our existing 
    experiment-calling process wasn't suitable for early decision-making. To 
    address this, I adapted a framework called Stop, Pivot, Preserve. It drove 
    accountability, fast decision-making, and pushed squad leads to treat their 
    leads as investors. Weekly, squad leads made investment recommendations and 
    aligned with their leads. This, combined with our feature validation 
    process, accelerated progress and reduced risks.
  </p>
</article>

<section data-controller="carousel" class="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>
  <div data-js-carousel-cards class="carousel__cards">
    <% (1..8).each do |index| %>
      <figure data-js-carousel-card
        class="carousel__card work-carousel-card">
        <%= image_tag "works/stop-pivot-preserve-#{index}.png" %>
      </figure>
    <% end %>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <a name="designing"></a>
  <h1>
    Designing
  </h1>

  <p>
    The solution can be presented in three parts: a fail, a win, and a learning. 
    Our initial attempt at a "Teams-first" solution failed. However, our 
    "Pro-first" solution achieved an incremental win. It was our final solution, 
    combining "Teams and Pro" based on our learnings, that proved to be a 
    success and shaped our future strategy. I would like to share these three 
    parts of our solution because the combination of a fail, a win, and a 
    learning yielded the best outcome.
  </p>

  <p>
    We used a double diamond approach for the squads working on this project, 
    exploring different time constraints and incorporating the Feature 
    Validation framework and S.P.Ps. Ongoing discovery allowed us to iterate 
    quickly and address small, validated problems with our solutions.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-activation-double-diamond.png" %>
      <figcaption>
        The double diamond design thinking process popularized by the British Design Council.
      </figcaption>
    </figure>
  </div>

  <h2>
    Part I
  </h2>

  <p>
    <strong>During the discovery phase</strong>, our lead group researcher took 
    charge. As a domain expert, she guided new research, facilitated customer 
    connections, and provided existing studies. Additionally, we initiated a 
    "Team Types" study to gain insights into the composition of both uppercase-T 
    Teams and lowercase-T teams. I personally requested and sponsored this 
    study, which would be conducted midway through the project.
  </p>

  <p>
    As the squad moved from discovery to define, they began to hone in on the 
    problems they wanted to solve for. The "Teams-first" squad defined two 
    problems:
  </p>

  <ol>
    <li>
      Teams are concerned about freelancers accessing sensitive company 
      information.
    </li>
    <li>
      There are multiple sources of truth when working with Freelancers.
    </li>
  </ol>

  <p>
    After a few weeks and several rounds of user testing, the concept of the 
    "client space" emerged. A workspace designated for collaboration between a 
    company and a freelancer.
  </p>
</article>

<section data-controller="carousel" class="carousel" id="carousel">
  <div data-js-carousel-cards-placeholder
    class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-client-space-concept-1.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-client-space-concept-2.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-client-space-concept-3.png" %>
      <figcaption>
      </figcaption>
    </figure>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <p>
    However, during the development process, we encountered internal obstacles 
    and found that there was overlap in our proposed solutions. As a result, 
    the "client space" became overly simplified.
  </p>

  <p>
    The prolonged design process, internal conflicts, and collaboration 
    challenges with another team resulted in a delayed launch of the "client 
    space." Despite compromises made and technical complexities encountered, it 
    took approximately six months to ship the product. However, feedback from 
    the testing group and customers was negative, as the "client space" was 
    perceived as indistinguishable from a shared folder and lacked perceived 
    value. Nevertheless, valuable insights were gained from extensive customer 
    conversations. We learned the importance of framing, the broader scope of 
    security concerns, and the ongoing issue of content ownership during 
    collaboration. Furthermore, we began uncovering different types of working 
    relationships.
  </p>

  <h2>
    Part II
  </h2>

  <p>
    While we were learning on one front, we simultaneously pursued a different 
    approach with another squad. The Pro-first squad focused on distinct 
    problems, resulting in a different outcome. However, this squad consisted of 
    a senior product designer, Paula Barcante, and lacked a product manager. 
    Despite the absence of a product partner, Paula took the lead in defining 
    the problem and solution space, with my support. We engaged in daily working 
    sessions, conducted co-competitive audits, engaged in strategic writing and 
    critique sessions, and more.
  </p>

  <p>
    Paula assumed responsibility for bi-weekly updates with cross-functional 
    leads, as she directed the allocation of 10 team members' time. A product 
    partner was hired approximately two months into the project. Early on, 
    Paula outlined the following problem spaces:
  </p>

  <ol>
    <li>
      Professionals don't have access to the tools their clients have, 
      preventing collaboration.
    </li>
    <li>
      Professionals wanted to appear professional when working with clients.
    </li>
  </ol>

  <p>
    <strong>During the develop phase</strong> the squad explored a wide range 
    of solution spaces: granting Pros access to Team's features, sharing third 
    party tools, collaborative project management, and integrations with third 
    party delivery and presentation tools.
  </p>

  <p>
    <strong>The first solution the team delivered was Password Sharing.</strong> 
    The squad shipped a feature in our Passwords product where an admin could 
    set up a collection of passwords of third party tools and invite a 
    freelancer to that collection. With one invite, a Pro had access to all the 
    tools the Team had.
  </p>
</article>

<section data-controller="carousel" class="carousel" id="carousel">
  <div data-js-carousel-cards-placeholder
    class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-passwords-sharing-1.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-passwords-sharing-2.png" %>
      <figcaption>
      </figcaption>
    </figure>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <p>
    <strong>The second solution the team delivered was branded sharing</strong>. 
    This feature provided Pros the ability to brand their shared content and 
    deliverables. It was a hit. This feature existed for Teams, so we made it 
    available to Pros, and then added some additional features. We added richer 
    preview states, link to website, social links, and controls.
  </p>
</article>

<section data-controller="carousel" class="carousel" id="carousel">
  <div data-js-carousel-cards-placeholder
    class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-branded-sharing-1.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-branded-sharing-2.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-branded-sharing-3.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-branded-sharing-4.png" %>
      <figcaption>
      </figcaption>
    </figure>

    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-branded-sharing-5.png" %>
      <figcaption>
      </figcaption>
    </figure>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <h2>
    Part III
  </h2>

  <p>
    Through these projects, research, and experimentation, I made an 
    observation: we had been approaching collaboration as a single transaction, 
    focusing on behaviors like one-off sharing and file access. However, we 
    should have been considering the various forms of collaboration as a series 
    of behaviors within relationships.
  </p>
  <p>
    Around six months into the project, I tasked the Product Designers and 
    Product Managers from the squads to map out relationships using our 
    behavioral data and the insights from our Team Types research. This mapping 
    would serve as a guide for our solution.
  </p>

  <div class="work-image-container">
    <figure class="work-image">
      <%= image_tag "works/dropbox-collaboration-flexible-membership-map.png" %>
      <figcaption>
      </figcaption>
    </figure>
  </div>

  <p>
    <strong>As we moved into our define phase</strong> the squad and leadership 
    agreed that the original problems were still unsolved and worth solving. 
    We stuck to the same problems but with new solution space guidance.
  </p>

  <ol>
    <li>
      Teams are concerned about freelancers accessing sensitive company 
      information.
    </li>
    <li>
      There are multiple sources of truth when working with Freelancers.
    </li>
  </ol>

  <p>
    In our develop phase, guided by prioritizing relationships, the Teams squad 
    introduced the concept of "flexible membership." To mitigate overinvestment 
    risks, we implemented the Feature Validation and Stop Pivot Preserve 
    frameworks. Our initial phase involved concept testing with 20 users, 
    prioritizing customer value over solution functionality or usability. We 
    shared concepts like secure workspaces, time-limited access, and sharing 
    features with customers.
  </p>
  <p>
    The concepts that resonated included time constraints, access management, 
    and onboarding/offboarding processes. This led to the development of a 
    "guest pass" solution—a new type of license. Security was entrusted to the 
    Team, granting the Pro access to the necessary resources for a specific 
    duration. Introducing a new license type carried significant risk, requiring 
    substantial technical investment and a challenging decision to make with 
    customers. Recognizing the need for thorough validation, we created a beta 
    version for A/B testing. Although the version had unresolved edge cases and 
    untouched platforms, it served as a testable solution. Surprisingly, it was 
    well received.
  </p>
</article>

<section data-controller="carousel" class="carousel" id="carousel">
  <div data-js-carousel-cards-placeholder
    class="carousel__cards-placeholder"></div>

  <div data-js-carousel-cards class="carousel__cards">
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-flexible-membership-1.png" %>
      <figcaption>
      </figcaption>
    </figure>
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-flexible-membership-2.png" %>
      <figcaption>
      </figcaption>
    </figure>
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-flexible-membership-3.png" %>
      <figcaption>
      </figcaption>
    </figure>
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-flexible-membership-4.png" %>
      <figcaption>
      </figcaption>
    </figure>
    <figure data-js-carousel-card
      class="carousel__card work-carousel-card">
      <%= image_tag "works/dropbox-collaboration-flexible-membership-5.png" %>
      <figcaption>
      </figcaption>
    </figure>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <a name="impact"></a>
  <h1>
    The Impact
  </h1>

  <p>
    With the launch of Branding and password sharing, we observed a moderate 
    2.4% relative lift in 60-day retention, indicating improved user engagement 
    and retention rates. The testing of the guest passes immediately gained 
    traction demonstrating its value and appeal to users. The introduction of it 
    also opened new doors for Dropbox's revenue model, moving beyond traditional 
    SKUs and bundles. By connecting existing users with flexible licenses, we 
    successfully tapped into a new market segment, generating additional revenue 
    streams while addressing customer needs effectively.
  </p>

  <a name="challenges"></a>
  <h1>
    The Challenges
  </h1>

  <p>
    Acknowledging our overcommitment without sufficient validation transformed 
    our approach to experimentation. By incorporating decision-making guidance 
    and accountability touchpoints, we improved our work process. Our openness 
    about our failure prompted others to embrace our framework, eager to avoid 
    similar pitfalls and improve their own outcomes.
  </p>

  <a name="closing"></a>
  <h1>
    Closing
  </h1>

  <p>
    In mid-2021, our "Teams Group" tackled declining Teams SKU retention and 
    increased purchases of the "Professional" SKU for freelancers. Through a 
    fail, a win, and a learning approach, we implemented validation frameworks, 
    adapted design thinking processes, and delivered successful solutions like 
    password sharing and branded sharing. Our innovative "guest passes" as a new 
    license type tapped into a new market segment, improving user engagement, 
    retention rates, and revenue. These efforts established a valuable framework 
    for experimentation and decision-making within the organization.
  </p>
</article>