<section class="content content--slim">
  <h1>My Mind Login</h1>
  
  <%= form_with url: chat_login_path, method: :post, data: { turbo: false } do |form|%>
    <div class="sky-label">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, type: "email", required: true %>
    </div>
    
    <div class="sky-label">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, type: "password", required: true %>
    </div>
    
    <%= form.submit "Login", class: "button button--primary u-margin-bottom-large" %>
  <% end %>
  
  <div>
    <p>Don't have an account? <%= link_to "Register here", chat_register_path, class: "link" %></p>
  </div>
</section>
