<footer class="site-footer">
  <nav class="u-margin-bottom-x-large">
    <ul class="site-footer__links">
      <li class="site-footer__link">
        <%= link_to t("navigation.follow"), new_follower_path %>
      </li>

      <li class="site-footer__link">
        <%= link_to t("navigation.works"), works_path %>
      </li>
      <li class="site-footer__link">
        <%= link_to t("navigation.posts"), posts_path %>
      </li>
      <li class="site-footer__link">
        <%= link_to t("navigation.values"), values_path %>
      </li>
      <li class="site-footer__link">
        <%= link_to t("navigation.principles"), principles_path %>
      </li>
      <li class="site-footer__link">
        <%= link_to t("navigation.privacy_and_terms"), "/privacy_and_terms" %>
      </li>

      <% if admin_signed_in? %>
        <li class="site-footer__link">
          <%= link_to t("navigation.admin"), "/admin" %>
        </li>
      <% end %>
    </ul>
  </nav>

  <nav class="u-margin-bottom-x-large">
    <ul class="site-footer__links">
      <li class="site-footer__link">
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/jasondramirez/" %>
      </li>

      <li class="site-footer__link">
        <%= link_to "Book time with me on ADPList",
          "https://adplist.org/mentors/jason-ramirez" %>
      </li>
    </ul>
  </nav>

  <p>
    jason@jasonramirez.com
  </p>

  <p>
    &copy; <%= Time.new.year %>
  </p>
</footer>

<%= render "admin_actions" %>
