<header class="site-header" 
        data-controller="navigation"
        data-navigation-target="header">
  <nav class="navigation--left">
    <ul class="navigation__links">
      <li class="navigation__link">
        <%= link_to root_path do %>
          <%= t("navigation.home") %>
        <% end %>
      </li>
    </ul>
  </nav>

  <nav class="navigation--right navigation--mobile-trigger-icon">
    <input class="navigation__mobile-trigger" type="checkbox" />

    <ul class="navigation__links">
      <li class="navigation__link">
        <%= link_to t("navigation.works"), works_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t("navigation.posts"), posts_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t("navigation.values"), values_path %>
      </li>

      <li class="navigation__link">
        <%= link_to t("navigation.principles"), principles_path %>
      </li>

      <li class="navigation__link">
        <%= link_to my_mind_path do %>
          <%= t("navigation.my_mind") %>
          <span class="badge badge--bright badge--small">Beta</span>
        <% end %>
      </li>

      <li class="navigation__link"
          data-navigation-target="themeSwitcher">
        <button type="button"
            data-controller="theme"
            data-action="click->theme#toggle"
            data-theme-light-stylesheet-value="<%= asset_path('application_light.css') %>"
            data-theme-dark-stylesheet-value="<%= asset_path('application_dark.css') %>"
            class="navigation__link theme-toggle-button">
          <%= inline_svg "icon-theme-change.svg" %>
        </button>
      </li>
    </ul>
  </nav>
</header>
