<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="NOODP" name="ROBOTS">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#181923">
    <%= render "favicons" %>
    <title>
      <%= title %>
    </title >
    <%= render "theme_init" %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= body_class %> my-mind-layout" 
        data-controller="theme"
        data-theme-light-stylesheet-value="<%= asset_path('application_light.css') %>"
        data-theme-dark-stylesheet-value="<%= asset_path('application_dark.css') %>">
    <%= render "flashes" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

